In [ ]:
print(chr(64))

@

In [ ]:
a="cn"
print(a)

cn

In [ ]:
a="cn"

In [ ]:
print("hello")

hello

In [ ]:
print(chr(41))

)

In [ ]:
payment_of_oneday=450
date_of_working=28
total_salary=payment_of_oneday*date_of_working
print(total_salary)

12600

In [ ]:
x,y,z="apple","pinapple","mango"
print(x,y,z)

apple pinapple mango

In [ ]:
a="apple"#fruits
b="pinapple"
c="mango"
print(a,b,c)

apple pinapple mango

In [ ]:
x=("1,2,3,4,5")
print(type(x))

<class 'str'>

In [ ]:
x="hello python"
y=123
z=1.23
a=True
b="1234"
print(x,y,z,a,b)

hello python 123 1.23 True 1234

In [ ]:
print(type(b))

<class 'str'>

In [ ]:
print(type(z))

<class 'float'>

In [ ]:
x=1.23
print(x)
print(int(x))

1.23
1

In [ ]:
x=("hello")
y=("python")
print(x+y)

hellopython

In [ ]:
x=1234
y="4567"
z=str(x)
a=y+z
print(a)

45671234

In [ ]:
a="1234567"
print(a[1:6:2])

246

#String

In [ ]:
x="array"
print(x[3])

a

In [ ]:
x="you are my hero"
print(x[1:8])#start:stop

ou are

In [ ]:
x="you are my hero"
print(x[1:8:2])#start:stop:skip

o r

In [ ]:
x="hello my dear"
print(x[-5:-2])

 de

In [ ]:
print("hello python")

hello python

In [ ]:
text="hello,lets start study"#in keyword
print("hello" in text)

True

In [ ]:
voice="this is an automated voice by siri"#not in keyword
print("hello" not in voice)

True

In [ ]:
word="hello python"#convert upper case
print(word.upper())

HELLO PYTHON

In [ ]:
word="HELLO PYTHON"#convert lower case
print(word.lower())

hello python

In [ ]:
a="  hello my dear   "#remove white space
print(a.strip())

hello my dear

In [ ]:
a="hello,word"#replace the value
print(a.replace("h","j"))

jello,word

In [ ]:
a="hello ,word"#split
print(a.split(","))

['hello ', 'word']

In [ ]:
a="hello"#concatination
b="python"
c=a+b
print(c)

hellopython

In [ ]:
age=36 #concatinate two words ,that has different datatype
txt="my name is john,i am"+ age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [ ]:
age=36 #concatination of two different datatype
txt="my name is john,i am {}"
print(txt.format(age))

my name is john,i am 36

In [ ]:
txt="you are my \"super\" hero"#for highlite some word
print(txt)

you are my "super" hero

In [ ]:
print(10==10)#boolean
print(10<9)

True
False

In [ ]:
print(bool("hrllo"))

True

In [ ]:
print(bool(0))

False

In [ ]:
a=5
a+=5
a=a+5
print(a)

10

In [ ]:
x=12;y=20#arithemetic oprator +
print(x+y)

32

In [ ]:
x=12;y=2
print(x**y)

144

In [ ]:
x=5
y=10
print(x>4 and y<12)

True

# LIST

In [ ]:
fruits=["banana","apple","orange"]#list
print(fruits)

['banana', 'apple', 'orange']

In [ ]:
fruits=["banana","apple","pinapple"]# acsses a specific one from back side
print(fruits[-1])

pinapple

In [ ]:
fruits=["banana","apple","pinapple","orange","blueberry"]#slicing
print(fruits[2:4])

['pinapple', 'orange']

In [ ]:
fruits=["banana","apple","pinapple","orange","blueberry"]#changing
fruits[2]="kiwi"
print(fruits)

['banana', 'apple', 'kiwi', 'orange', 'blueberry']

In [ ]:
fruits=["banana","apple","pinapple","orange","blueberry"]#insert
fruits.insert(2,"mango")
print(fruits)

['banana', 'apple', 'mango', 'pinapple', 'orange', 'blueberry']

In [ ]:
fruits=["banana","apple","pinapple","orange","blueberry"]#append
fruits.append("pappaya")
print(fruits)

['banana', 'apple', 'pinapple', 'orange', 'blueberry', 'pappaya']

In [ ]:
fruits=["banana","apple","pinapple","orange","blueberry"]#combaine two list
fruit=["mango","pappaya"]
fruits.extend(fruit)
print(fruits)

['banana', 'apple', 'pinapple', 'orange', 'blueberry', 'mango', 'pappaya']

In [ ]:
fruits=["banana","apple","pinapple","orange","blueberry"]#remove one item in list
fruits.remove("apple")
print(fruits)

['banana', 'pinapple', 'orange', 'blueberry']

In [ ]:
fruits=["banana","apple","pinapple","orange","blueberry"]#pop (remove a perticular item)
fruits.pop(1)
print(fruits)

['banana', 'pinapple', 'orange', 'blueberry']

In [ ]:
fruits=["banana","apple","pinapple","orange","blueberry"]#del (remove perticular item from list item)
del fruits[1]
print(fruits)

['banana', 'pinapple', 'orange', 'blueberry']

In [ ]:
fruits=["banana","apple","pinapple","orange","blueberry"]#clear all items from list
fruits.clear()
print(fruits)

[]

In [ ]:
fruits=["banana","apple","pinapple","orange","blueberry"]#copy a list into another variable
myfruits=fruits.copy()
print(fruits)

['banana', 'apple', 'pinapple', 'orange', 'blueberry']

# TUPLES

In [ ]:
colour=("red","orange","black")
print(colour)

('red', 'orange', 'black')

In [ ]:
colour=("red","orange","green")#length
print(len(colour))

3

In [ ]:
x=("red","black","blue","green")# tuple cannot be change ..so we convert into list and make changes then convert back to tuple
y=list(x)
y[2]="orange"
x=tuple(y)
print(x)

('red', 'black', 'orange', 'green')

In [ ]:
colour=("red","black","blue","green")
(a,b,c,d)=colour
print(d)

green

# SETS

In [ ]:
colour=("red","black","blue","green")
print(colour)

{'red', 'orange', 'black'}

In [ ]:
x={"red","black","blue","green"}#in
print("blue" in x)

True

In [ ]:
x={"red","black","blue","green"}#add
x.add("orange")
print(x)

{'orange', 'black', 'blue', 'red', 'green'}

In [ ]:
colour={"red","black","blue","green"}#update (combaine two list)
mycolour=["orange","pink"]
colour.update(mycolour)
print(colour)

{'orange', 'black', 'blue', 'pink', 'red', 'green'}

In [ ]:
colour={"red","pink","black"}
colour.remove("red")
print(colour)

{'pink', 'black'}

In [ ]:
colour={"red","pink","black"}
colour.clear()
print(colour)

set()

In [ ]:
colour={"red","pink","black"}
x=colour.pop()
print(colour)

{'pink', 'black'}

In [ ]:
set1={"a","b","c"}#union
set2={"v","x"}
set3=set1.union(set2)
print(set3)

{'c', 'a', 'b', 'v', 'x'}

In [ ]:
set1={"a","b","c"}#update
set2={"v","x"}
set1.update(set2)
print(set1)

{'c', 'v', 'b', 'x', 'a'}

In [ ]:
x={"apple","banana","mango"}#intersection
y={"google","microsoft","apple"}
x.intersection_update(y)
print(x)

{'apple'}

In [ ]:
x={"apple","banana","mango"}#intersection
y={"google","microsoft","apple"}
z=x.intersection(y)
print(z)

{'apple'}

In [ ]:
x={"apple","banana","mango"}#difference
y={"google","microsoft","apple"}
x.symmetric_difference_update(y)
print(x)

{'microsoft', 'google', 'banana', 'mango'}

In [ ]:
x={"apple","banana","mango"}#difference
y={"google","microsoft","apple"}
z=x.symmetric_difference(y)
print(z)

{'microsoft', 'google', 'banana', 'mango'}

# FROZENSET

In [ ]:
nu=(1,2,3,4,5,6,7,8)#freeze items
num=frozenset(nu)
print("frozenset object:",num)

frozenset object: frozenset({1, 2, 3, 4, 5, 6, 7, 8})

# DICTIONARIES

In [ ]:
cars={"brand":"BMW",  #key:value
      "model":"2nd series",
      "year":"2015"}
print(cars)

{'brand': 'BMW', 'model': '2nd series', 'year': '2015'}

In [ ]:
cars={"brand":"BMW",
      "model":"2nd series",
      "year":"2015"}
x=cars.get("model")# featching item
print(x)

2nd series

In [ ]:
cars={"brand":"BMW",
      "model":"2nd series",
      "year":"2015"}
x=cars.keys()#featching keys
print(x)

dict_keys(['brand', 'model', 'year'])

In [ ]:
cars={"brand":"BMW",
      "model":"2nd series",
      "year":"2015"}
x=cars.values()#featching values
print(x)

dict_values(['BMW', '2nd series', '2015'])

In [ ]:
cars={"brand":"BMW",
      "model":"2nd series",
      "year":"2015"}
x=cars.items()# list all items(keys,values)
print(x)

dict_items([('brand', 'BMW'), ('model', '2nd series'), ('year', '2015')])

In [ ]:
cars={"brand":"BMW",
      "model":"2nd series",
      "year":"2015"}
cars["year"]=2018#changing values
print(cars)

{'brand': 'BMW', 'model': '2nd series', 'year': 2018}

In [ ]:
cars={"brand":"BMW",
      "model":"2nd series",
      "year":"2015"}
cars.pop('year')#pop an item
print(cars)

{'brand': 'BMW', 'model': '2nd series'}

In [ ]:
cars={"brand":"BMW",  #key:value
      "model":"2nd series",
      "year":"2015"}
del cars["model"]#del an item
print(cars)

{'brand': 'BMW', 'year': '2015'}

In [ ]:
cars={"brand":"BMW",  #key:value
      "model":"2nd series",
      "year":"2015"}
cars.clear()#clear all items
print(cars)

{}

In [ ]:
cars={"brand":"BMW",  #key:value
      "model":"2nd series",
      "year":"2015"}
newcars=dict(cars)#dict values(same as copy)
print(newcars)

{'brand': 'BMW', 'model': '2nd series', 'year': '2015'}

In [ ]:
cars={"brand":"BMW",  #key:value
      "model":"2nd series",
      "year":"2015"}
newcars=cars.copy()#copy values to another variable
print(newcars)

{'brand': 'BMW', 'model': '2nd series', 'year': '2015'}

## NESTED DICTIONARIES

In [ ]:
friends={
    "child1":{"name":"arun","age":"20"},
    "child2":{"name":"vinu","age":"23"},
    "child3":{"name":"amal","age":"22"},
}
print(friends)

{'child1': {'name': 'arun', 'age': '20'}, 'child2': {'name': 'vinu', 'age': '23'}, 'child3': {'name': 'amal', 'age': '22'}}

In [ ]:
child1={"name":"arun","age":"20"}#add 3 separate dictionaries into one single dictionary
child2={"name":"vinu","age":"23"}
child3={"name":"anu","age":"22"}
friends={"child1":child1,
         "child2":child2,
         "child3":child3}
print(friends)

{'child1': {'name': 'arun', 'age': '20'}, 'child2': {'name': 'vinu', 'age': '23'}, 'child3': {'name': 'anu', 'age': '22'}}

# CONDITIONAL STATEMENTS

## IF STATEMENT

In [ ]:
a=33 #if statements
b=200
if b>a:
  print("b is greater than a")

b is greater than a

## ELIF STATEMENT

In [ ]:
a=200 #elif statements
b=200
if b<a:
  print("b is greater than a")
elif b==a:
  print("both are equal")

both are equal

## ELSE STATEMENT

In [ ]:
a=20
b=30
if a>b:
  print("a is greater than b")
elif a==b:
  print("a and b is equal")
else:
  print("a is less than b")

a is less than b

## AND

In [ ]:
a=20
b=30
c=40
if a<b and b<c:
  print("both conditions are true")

both conditions are true

## OR

In [ ]:
a=20
b=30
c=40
if a<b or b>c:
  print("atleast one condition is true")

atleast one condition is true

## NESTED IF

In [ ]:
x=200
if x>100:
  print("above 100")
  if x<100:
    print("below 100")
else:
    print("not above 100")

above 100

## PASS

In [ ]:
a=19 #pass is used to hide outputs
b=44
if a>b:
  pass
else:
  print("")

##Questions:

### grade calculation

In [ ]:
mark=int(input("enter your mark:"))
if mark>=90:
  print("your grade A+")
elif mark>=80:
  print("your grade B+")
elif mark>=70:
  print("your grade C+")
elif mark>=60:
  print("your grade D+")
elif mark>=50:
  print("your grade E+")
else:
  print("fail")

enter your mark:78
your grade C+

### odd or even number

In [ ]:
number=int(input("enter your number:"))
if number%2==0:
  print("number is even")
else:
  print("number is odd")

enter your number:7
number is odd

### positive,negative,zero

In [ ]:
number=int(input("enter your number:"))
if number>0:
  print("positive")
elif number<0:
   print("negative")
else:
   print("zero")

enter your number:0
zero

### Check Divisibility by 3 and 5

In [ ]:
number=int(input("enter your number: "))
if number%3==0 and number%5==0:
 print(" number is divisible")
else:
  print(" number is not divisible")

enter your number: 99
 number is not divisible

### Largest of Three Numbers

In [ ]:
num1=int(input("enter your first number: "))
num2=int(input("enter your second number: "))
num3=int(input("enter your thrid number: "))
if num1>num2 and num1>num3:
  print("largest number is",num1)
elif num2>num1 and num2>num3:
  print("largest number is",num2)
elif num3>num1 and num3>num2:
   print("largest number is",num3)

enter your first number: 44
enter your second number: 25
enter your thrid number: 36
largest number is 44

### leap year check

In [ ]:
year=int(input("enter a year: "))
if (year%4==0 and year%100!=0) or year%400==0:
  print("it's a leap year")
else:
  print("it's not a leap year")

enter a year: 2025
it's not a leap year

### Vowel or Consonant

In [ ]:
alphabet=(input("enter a character: "))
if alphabet in "aeiou":
  print("it's a vowel")
else:
  print("it's a consonant")

enter a character: g
it's a consonant

###Nested If Example  Year Classification

In [ ]:
year=int(input("enter a year: "))
if year%4==0:
  if year%100!=0:
   print("it's a leap year",year)
elif year%400==0:
 print("it's a leap year",year)
else:
 print("it's not a leap year",year)

enter a year: 2016
it's a leap year 2016

### Password Validation

In [ ]:
p="2345"
password=(input("enter your password: "))
if password==p:
  print("signed")
elif password!=p:
  print("try again")

enter your password: 2345
signed

In [ ]:
user_id="greeshma"
pass_word="12345"
userid=(input("enter userid: "))
password=(input("enter password: "))
if userid==user_id and password==pass_word:
  print("successfuly loged")
elif userid!=user_id and password==pass_word:
  print("incorrect userid")
elif userid==user_id and password!=pass_word:
  print("incorrect password")
elif userid!=user_id and password!=pass_word:
   print("try again")

enter userid: greeshma
enter password: 12345
successfuly loged

In [ ]:
user_id="greeshma"
pass_word=12345
balance=5000
userid=(input("enter userid: "))
password=int(input("enter password: "))
if user_id==userid and pass_word==password:
  amount=int(input("enter amount: "))
  if amount>=balance:
    print("insufficiant balance")
  elif amount<=0:
    print("enter proper amount!")
  else:
    print(f"sucessfully withdrawed {amount} and balance is {balance-amount} ")

elif password!=pass_word and userid!=user_id:
  print("both are wrong")
elif password!=pass_word:
  print("password wrong")
else:
  print("user name is wrong")

enter userid: greeshma
enter password: 12345
enter amount: 400
sucessfully withdrawed 400 and balance is 4600

In [ ]:
number1=int(input(" number1 : "))
operator=(input("operator : "))
number2=int(input(" number1 : "))
if operator=="+":
  print("answer is: ",number1+number2)
elif operator=="-":
  print("answer is: ",number1-number2)
elif operator=="/":
  print("answer is: ",number1/number2)
elif operator=="*":
  print("answer is: ",number1*number2)

 number1 : 2
operator : +
 number1 : 1
answer is:  3

# LOOPING STATEMENT

## WHILE LOOP

In [ ]:
a=[1,2,3,4,5]
while a:
  print(a.pop())

5
4
3
2
1

In [ ]:
a = [1, 2, 3, 4, 5]
while a:
    print(a)
    break  # remove this line to make it infinite

[1, 2, 3, 4, 5]

In [ ]:
i=0
while i<4:
  i=i+1
  print(i)

1
2
3
4

In [ ]:
i=5
while i>0:
 i=i-1
 print(i)

4
3
2
1
0

In [ ]:
a='loop in statement' #pass
i=0

while i<len(a):
  i=i+1
  pass
print('value of i:',i)

value of i: 17

In [ ]:
i=0 #continue
a='loops in python'
while i<len(a):
 if a[i]=='e' or a[i]=='s':
    i+=1
    continue
 print('current letter i:',a[i])
 i+=1

current letter i: l
current letter i: o
current letter i: o
current letter i: p
current letter i:
current letter i: i
current letter i: n
current letter i:
current letter i: p
current letter i: y
current letter i: t
current letter i: h
current letter i: o
current letter i: n

In [ ]:
i=0 #break
a='loops in python'
while i<len(a):
 if a[i]=='p' or a[i]=='y':
    i+=1
    break
 print('current letter i:',a[i])
 i+=1

current letter i: l
current letter i: o
current letter i: o

In [ ]:
i=0 #while else
while i<4:
  i=i+1
  print(i)
else:
  print("no break\n")

1
2
3
4
no break

In [ ]:
i=0 #while else
while i<4:
  i=i+1
  print(i)
  break
else:
  print("no break\n")

1

## FOR LOOP

In [ ]:
l=["hello","for","python"] #list iteration
for i in l:
 print(i)

hello
for
python

In [ ]:
t=("hello","for","python") #tuple iteration
for i in t:
  print(i)

hello
for
python

In [ ]:
for x in 'python developer':
  if x=='e' or x=='o':
     continue
  print('current letter:',x)

current letter: p
current letter: y
current letter: t
current letter: h
current letter: n
current letter:
current letter: d
current letter: v
current letter: l
current letter: p
current letter: r

In [ ]:
for x in 'python developer':#break
  if x=='o'or x=='e':
    break
  print('current letter:',x)

current letter: p
current letter: y
current letter: t
current letter: h

In [ ]:
for x in 'python developer':
   pass
print("last letter:",x)

last letter: r

In [ ]:
for i in range(10):
  print (i,end="      ")

0      1      2      3      4      5      6      7      8      9

In [ ]:
l=[10,11,12,13,14]
for i in range(len(l)):
  print(l[i],end=" ")

10 11 12 13 14

In [ ]:
for i in range(1,10,2):
  print(i)

1
3
5
7
9

In [ ]:
for i in range (0,50,2):
  print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

In [ ]:
for i in range (1,50,2):
  print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

## NESTED LOOP

In [ ]:
adj=["red","big","tasty"]
fruits=["apple","orange","banana"]
for x in adj:
  for y in fruits:
    print(x,y)

red apple
red orange
red banana
big apple
big orange
big banana
tasty apple
tasty orange
tasty banana

# questions

## Print numbers from 1 to 10

In [ ]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

## Print even numbers between 1 and 20

In [ ]:
for i in range(0,20,2):
 print(i)

0
2
4
6
8
10
12
14
16
18

## Print the multiplication table of 5

In [ ]:
number=5
for x in range(1,11):
  print(f"{number}*{x}={number*x}")

5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50

## Print each character in a string

In [ ]:
string="Vijay Krishnan"
for x in string:
  print(x)

V
i
j
a
y

K
r
i
s
h
n
a
n

## calculate the sum of numbers from 1 to 100

In [ ]:
sum=0
for x in range(1,101):
    sum+=x
print(sum)

-5050

## print all elements in a list

In [ ]:
l=["apple","is", "red","colour"]
for i in l:
  print(i)

apple
is
red
colour

## count the numbers of vowels in a string

In [ ]:
i="apple is red colour fruit"
l="aeiou"
sum=0
for x in i:
   if x in l:
    sum+=1
print(sum)

9

## print the square of numbers from 1 to 10

In [ ]:
for x in range(1,11):
  print(f"{x}*{x}={x*x}")

1*1=1
2*2=4
3*3=9
4*4=16
5*5=25
6*6=36
7*7=49
8*8=64
9*9=81
10*10=100

##print elements in reverse from a list

In [ ]:
x=["hello","apple","banana"]
for i in range(len(x)):
 print(x.pop())

banana
apple
hello

## print the factorial of a number using for loop

In [ ]:
sum=1
for x in range(1,6):
    sum*=x
print(sum)

120

## find the largest number in a list

In [ ]:
t=[1,4,7,5,7,9,89,78,89,45]
largest=0
for x in t:
  if x>largest:
    largest=x
print(largest)

89

##find the smallest bumber in a list

In [ ]:
t=[66,88,94,13,22]
smallest=10000000
for x in t:
  if x<smallest:
    smallest=x
print(smallest)

13

## perfect number

In [ ]:
sum=0
num1=int(input("enter number : "))
for x in range(1,num1):
 if num1%x==0:
  sum+=x
if num1==sum:
  print("it's a perfect number")
else:
  print("its not a perfect number")

enter number : 78
its not a perfect number

## prime number

In [ ]:
num1=int(input("enter number :"))
for x in range(2,num1):
  if num1%x==0:
    print("it's not a prime number")
    break
else:
  print("it's a prime number")

enter number :9
it's not a prime number

## printing all the prime numbers

In [ ]:
num1=int(input("enter numbers :"))
for x in range(2,num1+1):
  for i in range(2,x):
    if x%i==0:
      break
  else:
     print(x,"")

enter numbers :100
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

## print a triangle of stars

In [ ]:
row1=int(input("enter rows :"))
for i in range(1,row1+1):
   print("*"*i)

enter rows :9
*
**
***
****
*****
******
*******
********
*********

## remove duplicate element in a list

In [ ]:
duplicate=[1,2,2,4,5,6,7]
original=[]
for i in duplicate:
  if i not in original:
    original.append(i)
print(original)

[1, 2, 4, 5, 6, 7]

## print a number pyramid

In [ ]:
num=5
for i in range (1,num+1):
  for x in range (1,i+1):
   print(x, end=" ")
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

#PYTHON FUNCTIONS

In [ ]:
def hello():
  print("welcome")
hello()

welcome

In [ ]:
def evenorodd(x):
  if x%2==0:
    print("even")
  else:
    print("odd")
evenorodd(8)
evenorodd(99)
evenorodd(12)

even
odd
even

In [ ]:
def myfun(a,b=15): #default argument
  print("a : ",a)
  print("b : ",b)
myfun(10)

a :  10
b :  15

In [ ]:
def student(firstname,lastname): #to demonstrate keyword arguments
  print(firstname,lastname)
student(firstname='greeshma',lastname='krishnan')
student(firstname='adithya',lastname='vs')

greeshma krishnan
adithya vs

In [ ]:
def my_friends(*kids): # arbitary argument
 print("my friends are",kids[3])
my_friends("anu","ammu","kichu","vidhu","manu")

my friends are vidhu

In [ ]:
def myarguments(*argv):# to use all arguments show
  for x in argv:
    print(x)
myarguments('hello','welcome','home')

hello
welcome
home

In [ ]:
def my_function(**student): #arbitrary keyword argument
  print("first name is "+student["fname"])
my_function(fname="greeshma")

first name is greeshma

In [ ]:
def my_home(**kk):
 for i,value in kk.items():
   print(f"{i}:{value}")
my_home(name="radhu",age=64)
my_home(name="radhu",age=54)

name:radhu
age:64
name:radhu
age:54

In [ ]:
def my_function(fruits="banana"): #default parameter value
  print("i love "+fruits)
my_function("apple")
my_function("orange")
my_function()
my_function("blue burry")

i love apple
i love orange
i love banana
i love blue burry

In [ ]:
def my_fruits(xyz):# passing a list of arguments
  for x in xyz:
    print(x)
fruits=["apple","banana"]
my_fruits(fruits)

apple
banana

In [ ]:
def my_number(x): #return
 return(x**2)
print(my_number(2))
print(my_number(4))
print(my_number(6))

4
16
36

In [ ]:
def f1(): # function within a function
 s='i love python'
 def f2():
  print(s)
 f2()
f1()

i love python

In [ ]:
def numberA(x): #lambda
   return x*x*x
g=lambda y:y*y*y*y
print(g(7))
print(numberA(2))

2401
8

In [ ]:
def power(n):
  return lambda a:a**n
base=power(2)
print("now power is set to 2")
print("6 power of 2=",base(6))
base=power(5)
print("now power is set to 5")
print("8 power of 5=",base(8))

now power is set to 2
6 power of 2= 36
now power is set to 5
8 power of 5= 32768

In [ ]:
a=[100,2,8,60,5,4,3,31,10,11]
filtered=filter(lambda x:x%2==0,a)
print(list(filtered))
maped=map(lambda x:x%2==0,a)
print(list(maped))

[100, 2, 8, 60, 4, 10]
[True, True, True, True, False, True, False, False, True, False]

In [ ]:
def myfunction():#global and local variables
  s="me too"
  print(s)
x="i love python"
myfunction()
print(x)

me too
i love python

In [ ]:
a=1
def f():
  print('inside f():',a)
def g():
  a=2
  print('inside g():',a)
def h():
  global a
  a=3
  print('inside g():',a)


print('global:',a)
f()
print('global:',a)
g()
print('global:',a)
h()
print('global:',a)

global: 1
inside f(): 1
global: 1
inside g(): 2
global: 1
inside g(): 3
global: 3

In [ ]:
def shout(text): # (function nu object create cheyyunnu)
  return text.upper()
print(shout('hello'))
yell=shout
print(yell('hello'))

HELLO
HELLO

In [ ]:
def shout(text):
  return text.upper()
def whisper(text):
  return text.lower()
def greet(func):
  greeting=func("""hi, i am created by a function passed as an argument""")
  print(greeting)
greet(shout)
greet(whisper)

HI, I AM CREATED BY A FUNCTION PASSED AS AN ARGUMENT
hi, i am created by a function passed as an argument

In [ ]:
def create_adder(x):
  def adder(y):
    return x+y
  return adder
add_15=create_adder(15)
print(add_15(10))

25

## RECURSIVE FUNCTION

In [ ]:
def fact(x):
  if x==1:
    return 1
  else:
    return(x*fact(x-1))
num=4
print("the factorial of",num,"is",fact(num))

the factorial of 4 is 24

#Questions

## Write a function to add two numbers

In [ ]:
def add(a,b):
  print(a+b)
add(5,7)

12

## Write a function to check whether a number is even or odd

In [ ]:
def num(a):
 if a%2==0:
   print("even")
 else:
   print("odd")
num(8)

even

## write a function to return the factorial of a number

In [ ]:
def num(a):
  sum=1
  for a in range(1,a):
    sum*=a
  print(sum)
num(7)

720

## write a function to find the maximum of three numbers

In [ ]:
def num(a,b,c):
  if a>b and a>c:
    print("largest num is",a)
  if b>a and b>c:
    print("largest num is",b)
  if c>a and c>b:
    print("largest num is",c)
num(98,1025,789)

largest num is 1025

## write a function to check whether a number is prime

In [ ]:
def num(a):
  for x in range (2,a):
    if a%x==0:
      print("it is not a prime number")
      break
  else:
      print("it is a prime number")
num(89)

it is a prime number

## write a function to print the multiplication table of a number

In [ ]:
def num(a):
 for x in range (1,11):
  print(f"{x} x {a} = {x*a}")
num(6)

1 x 6 = 6
2 x 6 = 12
3 x 6 = 18
4 x 6 = 24
5 x 6 = 30
6 x 6 = 36
7 x 6 = 42
8 x 6 = 48
9 x 6 = 54
10 x 6 = 60

## write a function to check whether a given string or number is a palindrome

In [ ]:
def pali(a):
   if a[::-1]==a:
    print("its palindrome")
   else:
    print("its not palindrome")
pali("greeshma")

its not palindrome

## write a function to return the squsre of a number

In [ ]:
def num(a):
 return a**2
num(8)

64

## write a function that takes a name as input and prints a greeting

In [ ]:
def name(a):
  print("Hi,Good Morning ",a)
  print("Welcome to this page...")
name("Greeshma krishnan")

Hi,Good Morning  Greeshma krishnan
Welcome to this page...

# CLASS & OBJECTS

In [ ]:
class phone:  # class name is 'phone'
  def make_call(self):  #self parameter
    print("lets make a phone call")
  def play_game(self): # method is 'play_game' and 'make_call'
    print("lets play a game")

lets make a phone call

In [ ]:
p1=phone() #makeing object

In [ ]:
p1.make_call() # call methods
p1.play_game()

lets make a phone call
lets play a game

In [ ]:
class phone:  # class name is 'phone'
  def make_call(self):  #self parameter
    print("lets make a phone call")
  def play_game(self): # method is 'play_game' and 'make_call'
    print("lets play a game")
  def set_color(self,color): # adding new paramters
    self.color=color
  def set_cost(self,cost):
    self.cost=cost
  def show_color(self):
    return self.color
  def show_cost(self):
    return self.cost

In [ ]:
p2=phone() # making another object

In [ ]:
p2.set_color('blue')

In [ ]:
p2.set_cost(4000)

In [ ]:
p2.show_color()

'blue'

In [ ]:
p2.show_cost()

4000

In [ ]:
p3=phone()

In [ ]:
p3.set_color('red')

In [ ]:
p3.show_color()

'red'

In [ ]:
class employee:
  def __init__(self,name,age,salary,gender):
    self.name=name
    self.age=age
    self.salary=salary
    self.gender=gender

  def employee_details(self):
    print("name of employee is ",self.name )
    print("age of employee is ",self.age )
    print("salary of employee is ",self.salary )
    print("gender of employee is ",self.gender )

In [ ]:
e1=employee("sam",19,15000,"female")

In [ ]:
e1.employee_details()

name of employee is  sam
age of employee is  19
salary of employee is  15000
gender of employee is  female

In [ ]:
e1=employee("ammu",21,18000,"female")

In [ ]:
e1.employee_details()

name of employee is  ammu
age of employee is  21
salary of employee is  18000
gender of employee is  female

In [ ]:
e1=employee("priya",21,46000,"female")

In [ ]:
e1.employee_details()

name of employee is  priya
age of employee is  21
salary of employee is  46000
gender of employee is  female

In [ ]:
class character:
  def __init__(self,health,damage,power):
    self.health=health
    self.damage=damage
    self.power=power

ninja= character(100,30,90)
warrior= character(200,40,95)
print("power of ninja:", ninja.power)
print("health of ninja:",ninja.health)

power of ninja: 90
health of ninja: 100

In [ ]:
class character:
  def __init__(self,health,damage,power):
    self.health=health
    self.damage=damage
    self.power=power

  def double(self):
    self.power=self.power*2
    self.damage=self.damage*3

ninja= character(100,30,90)
warrior= character(200,40,95)
print("power of ninja:", ninja.power)
print("health of ninja:",ninja.health)
ninja.double()
print("after doubling the power")
print("power of ninja:",ninja.power)
print("damage of ninja:",ninja.damage)

power of ninja: 90
health of ninja: 100
after doubling the power
power of ninja: 180
damage of ninja: 90

In [ ]:
class character:
  def __init__(self,name,health,damage,power):
    self.name=name
    self.health=health
    self.damage=damage
    self.power=power

  def hai(self):
   print("hello i am", self.name)
  def is_alive(self):
   if self.health <=0:
     print(self.name,"is dead!")
   else:
     print(self.name,"is alive!")

  def player_details(self):
   print("....."*5)
   print("name of player is :",self.name)
   print("health of player is :",self.health)
   print("damage of player is :",self.damage)
   print("power of player is :",self.power)
   print()

ninja=character("ninja",100,30,90)
warrior=character("warrior",200,40,95)

ninja.hai()
ninja.health=0
print("health of ninja:",ninja.health)
ninja.is_alive()
warrior.is_alive()

warrior.player_details()
ninja.player_details()

hello i am ninja
health of ninja: 0
ninja is dead!
warrior is alive!
.........................
name of player is : warrior
health of player is : 200
damage of player is : 40
power of player is : 95

.........................
name of player is : ninja
health of player is : 0
damage of player is : 30
power of player is : 90

In [ ]:
class student:
  school="abc school"
  def __init__(self,name,age,roll_number):
    self.name=name #instance attribute
    self.age=age
    self.roll_number=roll_number
  def details(self):
    print(f"{self.name} is : {self.age} year old and studying at :{self.school}")

student1= student("ammu",21,3)
student2= student("reenu",20,7)
print(student1.school)

student.school="learn logic ai"
student1.details()

abc school
ammu is : 21 year old and studying at :learn logic ai

Built in class function

In [ ]:
class student:
  school="abc school"

  def __init__(self,name,age,roll_number):
    self.name=name # instance attribute
    self.age=age
    self.roll_number= roll_number

  def details(self): # method
    print(f'{self.name} is : {self.age} year old and studying at :{self.school} and roll number is :{self.roll_number}')

student1=student("anshif",21,3)
student2=student("sinan",20,7)
print(getattr(student1, "name"))

setattr(student1,"age",23)
print(student1.age)

print(hasattr(student1,"id")) # id attribute checking

delattr(student1,"age") #for delete attribute

anshif
23
False

In [ ]:
class dog:
  def __init__(self,name,age):
    self.name=name
    self.age= age

  def bark(self):
    print(f"{self.name} says: BOW! BOW!")

  def intriduce(self):
    print(f"my name is {self.name} and i am {self.age} years old ")

  def sit(self):
    print(f"{self.name} is now sitting ")

  def fetch(self, item):
    print(f"{self.name} is fetching the {item} !")

dog1=dog("Mubashir",21)
dog2=dog("Jaseem",19)
dog1.bark()
dog2.bark()
dog1.sit()
dog1.fetch("Alpham mandhi")
dog2.fetch("stick")

Mubashir says: BOW! BOW!
Jaseem says: BOW! BOW!
Mubashir is now sitting
Mubashir is fetching the Alpham mandhi !
Jaseem is fetching the stick !

In [ ]:
class cat:
  def __init__(self,name,color):
    self.name = name
    self.color = color

  def details(self):
    print(f"The {self.name} is {self.color}!")
  def meow(self):
    print(f"{self.name} is meowing...")

  def purr(self):
    print(f"{self.name} is purring...")

  def scratch(self,item):
    print(f"{self.name} is scratching on {item}...")

  def sleep(self):
    print(f"{self.name} is sleeping...")

cat1=cat("Kitty","White")
cat2=cat("Pachu","Black")

cat1.details()
cat2.details()
print()
cat1.meow()
cat2.meow()
print()
cat1.purr()
cat2.purr()
print()
cat1.scratch("Sofa")
cat2.scratch("Bed")
print()
cat1.sleep()
cat2.sleep()

The Kitty is White!
The Pachu is Black!

Kitty is meowing...
Pachu is meowing...

Kitty is purring...
Pachu is purring...

Kitty is scratching on Sofa...
Pachu is scratching on Bed...

Kitty is sleeping...
Pachu is sleeping...

#Inheritance in OOP

### Single inheritance

In [ ]:
class Animal: # parent classs
  def speak(self):
    print("Animal speaking")

class Dog(Animal):  # Child class (inheritance)
  def bark(self):
    print("Dog barking")

d=Dog()
d.bark()
d.speak() # we can call class method thruogh child class(inheritance)

a=Animal()
a.speak()

Dog barking
Animal speaking
Animal speaking

In [ ]:
class vehicle:
  def start(self):
    print("vehicle is starting..")
  def stop(self):
    print("vehicle is stopping..")

class car(vehicle):
  def drive(self):
    print("car is bieng driven")

my_car = car()
my_car.start()
my_car.drive()
my_car.stop()

vehicle is starting..
car is bieng driven
vehicle is stopping..

###Multilevel inhertiance

In [ ]:
class Animal:
  def speak(self):
    print("Animal speaking")

class Dog(Animal):  # Child class (inheritance)
  def bark(self):
    print("Dog barking")

class Dogchild(Dog):  # multilevel inheritance
  def eat(self):
    print("Eating bread....")

d=Dog()
d.bark()
d.speak()
# d.eat()  AttributeError: 'Dog' object has no attribute 'eat'

print()

d1=Dogchild()  # multilevel child have all method
d1.bark()
d1.speak()
d1.eat()

Dog barking
Animal speaking

Dog barking
Animal speaking
Eating bread....

###Hierarchial inheritance

In [ ]:
class shape:  # This is parent class
  def info(self):
    print("Shpes have dimenstions...")

class circle(shape):  # this child of shape
  def draw(self):
    print("Drawing a circle...")

class Rectangle(shape): # this also child of shape
  def draw(self):
    print("Drawing a rectangle...")

c=circle()
r=Rectangle()
c.info()
c.draw()
r.info()
r.draw()

Shpes have dimenstions...
Drawing a circle...
Shpes have dimenstions...
Drawing a rectangle...

In [ ]:
class person: # parent
  def introduce(self):
    print("Iam a person..")

class Teacher(person): #child of person
  def teach(self):
    print("I teach students..")

class Student(person): # also child of person
  def study(self):
    print("I study subjects")

teacher=Teacher()
student=Student()

teacher.introduce()
teacher.teach()

print()

student.introduce()
student.study()

Iam a person..
I teach students..

Iam a person..
I study subjects

###Multiple Inheritance

In [ ]:
class FlyingAnimal:
    def fly(self):
        print("This animal can fly.")

class SwimmingAnimal:
    def swim(self):
        print("This animal can swim.")

class Duck(FlyingAnimal, SwimmingAnimal):
    def quack(self):
        print("The duck quacks.")

my_duck = Duck()

my_duck.fly()
my_duck.swim()

my_duck.quack()

This animal can fly.
This animal can swim.
The duck quacks.

In [ ]:
class Person1:
    def Father(self):
        print("I Play Football")

class Person2:
    def Mother(self):
        print("I Play Chess")

class Person3(Person1,Person2):
    def Child(self):
        print("I Play Football and Chess")

c=Person3()

c.Child()
c.Mother()
c.Father()

I Play Football and Chess
I Play Chess
I Play Football

In [ ]:
class Calculation1: # parent class
  def summation(self,a,b):
    print(a+b)

class Calculation2: # another parent class
  def multiplication(self,a,b):
    print(a*b)


class Derived(Calculation1,Calculation2):  # child from that both parent classes
  def divide(self,a,b):
    print(a/b)


d=Derived()
d.summation(10,20)
d.multiplication(10,20)
d.divide(10,20)

30
200
0.5

###Hybrid inheritance

In [ ]:
class Animal:
    def speak(self):
        print("Animal speaks")

class Dog(Animal):
    def bark(self):
        print("Dog barks")

class Cat:
    def meow(self):
        print("Cat meows")

class Puppy(Dog,Cat):
    def play(self):
      print("puppy bows")

puppy=Puppy()

puppy.play()
puppy.speak()
puppy.bark()
puppy.meow()

puppy bows
Animal speaks
Dog barks
Cat meows

In [ ]:
class Person1:
    def show(self):
        print("I am a Student")

class Person2(Person1):
    def work(self):
        print("I Work in College NSS")

class Person3(Person1):
    def teach(self):
        print("I Teach My friends")

class Person4(Person2,Person3):
    def view(self):
        print("I watch all the activities of my friends")

p = Person4()
p.show()
p.work()
p.teach()

I am a Student
I Work in College NSS
I Teach My friends

In [ ]:
class person:
  def show(self):
    print("I am a person")
class teacher(person):
  def teach(self):
    print("I teach students")

class staff(person):
  def manage(self):
    print("I manage school activities")

# hybrid inheritenc principal inherits from both teacher and staff(single + multiple)
class principal(teacher,staff):
  def oversee(self):
    print("I oversee the entire school")

principal = principal()
principal.show()
principal.teach()
principal.manage()
principal.oversee()

I am a person
I teach students
I manage school activities
I oversee the entire school

###Super() Method

In [ ]:
class parent:
  def greet(self):
    print("Hello from parent")

class child(parent):
  def greet1(self):
    super().greet()
    print("hello from child")

c=child()
c.greet1()

Hello from parent
hello from child

In [ ]:
class parent:
    def __init__(self,name):
        self.name=name
        print("Parent Constructor is called")

class child(parent):
    def __init__(self,name,age):
        super().__init__(name)
        self.age=age
        print("Child Constructor is called")

c=child("Aira",12)
print(c.name)
print(c.age)

In [ ]:
class Student:
    def name(self):
        print("Hello friends")

class Teacher(Student):
    def subject(self):
        super().name()
        print("Hello Students")

class Principal(Teacher):
    def syllabus(self):
        super().subject()
        print("Hello Teachers")

P=Principal()
P.syllabus()

Hello friends
Hello Students
Hello Teachers

In [ ]:
class parent:
  def __init__(self,name):
    self.name=name
    print("Parent Constructor is called")

class child(parent):
  def __init__(self,name,age):
    super().__init__(name)
    self.age=age
    print("Child Constructor is called")

child=child("Aira",12)

Parent Constructor is called
Child Constructor is called

In [ ]:
class parent:
    def __init__(self,name):
        self.name=name
        print("Parent Constructor is called")

class child(parent):
    def __init__(self,name,age):
        super().__init__(name)
        self.age=age
        print("Child Constructor is called")
    def details(self):
      print()

c=child("Aira",12)
print(c.name)
print(c.age)

Parent Constructor is called
Child Constructor is called
Aira
12

#Polymorphism

###Method Overriding

In [ ]:
class A:
  def show(self):
    print("class A")

class B(A):
  def show(self):
    print("class B")

class C(B):
  def show(self):
    print("class C")

c=C()
c.show() # Method Overriding

class C

In [ ]:
class A:
  def show(self):
    print("Class A")

class B(A):
  def show(self):
    super().show()
    print("Class B")

class C(B):
  def show(self):
    super().show()
    print("Class C")

c=C()
c.show()

Class A
Class B
Class C

In [ ]:
class Animal:
  def Speak(self):
    print("Animal is Making sound")

class Dog(Animal):
  def Bark(self):
    print("Dog is Barking")

class Cat(Animal):
  def Speak(self):
    super().Speak()
    print("Cat is Meowing")
a=Animal()
c=Cat()
d=Dog()
c.Speak()
d.Bark()

Animal is Making sound
Cat is Meowing
Dog is Barking

In [ ]:
class animal:
  def speak(self):
    print("Animal is making sound")

class dog(animal):
  def speak(self):
    print("Dog barks")

class cat(animal):
  def speak(self):
    print("cat mweows")

dog  = dog()
cat = cat()

dog.speak()
cat.speak()

Dog barks
cat mweows

###Method Overloading
###Polymorphism in python allows different classes to have methods with the same name but different functionality. Method overloading means having multiple methods with the same name but different numbers or types of parameters.

###* Default arguments - Providing default values to parameters.
###* Variable - length arguments ( * args, ** kwargs )- Allowing a method to acccept different numbersof arguments

### Default arguments - Providing default values to parameters.

In [ ]:
class Calculator:
  def add(self,a,b=0,c=0,d=0):
    print(a+b+c+d)
calc=Calculator()
# Call the method with differnt numbers of arguments
calc.add(1,2)
calc.add(1,2,3)
calc.add(1,2,3,4)

3
6
10

###Variable - length arguments ( * args, ** kwargs ) - Allowing a method to acccept different numbersof arguments

**positional arguments ( *args )**

In [ ]:
class mathoperations:
  def add (self, *numbers):
    total=sum(numbers)
    print(f"Sum: {total}")

math = mathoperations()
# call the method with n number of argumetns using (*args)
math.add(5)
math.add(5,10)
math.add(1,2,3,4)

Sum: 5
Sum: 15
Sum: 10

**keyword arguments ( **keyword )**

In [ ]:
class Greeting:
  def say_hello(self, **kwargs):
    print(f"Hello {kwargs['name']}!")
    print(f"You are {kwargs['age']} years old!")
    print(f"You are from {kwargs['city']}!")

g=Greeting()
g.say_hello(name="Aira", age=11, city="Thrissur")

Hello Aira!
You are 11 years old!
You are from Thrissur!

#Questions

###Create two classes Dog and Cat, each with a method sound(). Write a function that calls sound() for objects of both classes to demonstrate polymorphism.

In [ ]:
class Animal:
  def sound(self):
    print("Animal is making sound")

class Dog(Animal):
    def sound(self):
      print("Woof! Woof!")

class Cat(Animal):
    def sound(self):
         print("Meow! Meow!")

Dog=Dog()
Cat=Cat()

Dog.sound()
Cat.sound()

Woof! Woof!
Meow! Meow!

###Define a base class Shape with a method area(). Create two subclasses Square and Circle that override area() and print their own implementation.

In [ ]:
class Shape:
  def area(self):
    print("Shapes have dimenstions")

class Square(Shape):
  def area(self):
    print("Drawing a Square")

class Circle(Shape):
  def area(self):
    print("Drawing a Circle")

c=Circle()
s=Square()

c.area()
s.area()

Drawing a Circle
Drawing a Square

###Write a function make_it_speak(animal) that accepts any object with a speak() method. Test the function with two different classes implementing speak()

In [ ]:
def make_it_speak(animal):
    animal.speak()

class Dog:
    def speak(self):
        print("Woof! Woof!")

class Cat:
    def speak(self):
        print("Meow!")

dog=Dog()
cat=Cat()

make_it_speak(dog)
make_it_speak(cat)

Woof! Woof!
Meow!

###Create a class Bird with a method fly(), and another class Airplane with a method fly(). Use a single function to call fly() on both types of objects

In [ ]:
def start_flying(obj):
  obj.fly()

class Bird:
    def fly(self):
        print("The bird is flying high in the sky!")

class Airplane:
    def fly(self):
        print("The airplane is flying through the clouds!")

bird=Bird()
plane=Airplane()

start_flying(bird)
start_flying(plane)

The bird is flying high in the sky!
The airplane is flying through the clouds!

###Write two classes Pen and Pencil, both having a method write(). Create a loop that calls write() for objects of both classes

In [ ]:
class Pen:
    def write(self):
        print("Writing smoothly with a pen.")

class Pencil:
    def write(self):
        print("Writing lightly with a pencil.")

writing_tools=[Pen(),Pencil()]

for tool in writing_tools:
    tool.write()

Writing smoothly with a pen.
Writing lightly with a pencil.

#Encapsulation

In [ ]:
class company:
  def __init__(self, company_name,company_id):
    self.__company_name = company_name
    self._company_id = company_id

c1=company("TCS",91)
print(c1._company_id) # we can print one underscore variable
# print(c1.__company_name)    # we can't print two underscore variable !

91

` double underscored variable we can't acces outside of class, but we can access on the class `

In [ ]:
class company:
  def __init__(self, company_name,company_id):
    self.__company_name = company_name
    self._company_id = company_id

  def get_company_name(self):
    print(self.__company_name)

c1 = company("TCS",91)
c1.get_company_name() # we can simply acccess now

TCS

In [ ]:
class BankAccount:
    def __init__(self, account_number,balance):
        self.__account_number=account_number
        self.__balance=balance

    def get_account_number(self):
        return self.__account_number

    def get_balance(self):
        return self.__balance

c1=BankAccount(1000023456789, 23000)

print("Account Number:",c1.get_account_number())
print("Balance:",c1.get_balance())

Account Number: 1000023456789
Balance: 23000

In [ ]:
class BankAccount:
  def __init__(self,Account_number,Balance):
    self.__Account_number=Account_number
    self.__Balance=Balance

  def Deposite(self,Amount):
    if Amount>0:
      self.__Balance+=Amount
      print(f"Deposited Amount {Amount}. New Balance {self.__Balance}")
    else:
      print("Invalid deposit error")

  def get_Balance(self):
    return self.__Balance

Account=BankAccount("12345", 1000)
Account.Deposite(500)

print(Account.get_Balance())

Deposited Amount 500. New Balance 1500
1500

##Question:

Define a Python class Student with the following private attributes:
__name to store the student's name. __marks to store the student's marks.

Implement the following public getter and setter methods to access and modify these attributes securely:
set_name(name)  A method to set the student's name. get_name()  A method to retrieve the student's name. set_marks(marks)  A method to set the student's marks (Ensure marks cannot be negative). get_marks()  A method to retrieve the student's marks.

Demonstrate the usage of the class by:
-Create an instance of the Student class. -Setting the name of the student to "Alice" and print it using the getter method. -Setting the marks of the student to 95 and print it using the getter method. -Dont alow negative marks.

In [ ]:
class Student:
    def set_Name(self,student_name):
        self.__Name=student_name

    def set_Marks(self,student_marks):
        if student_marks<0:
            print("Marks cannot be negative!")
        else:
            self.__Marks=student_marks

    def get_Name(self):
        return self.__Name

    def get_Marks(self):
        return self.__Marks

S=Student()
S.set_Name("Alice")
S.set_Marks(95)

print("Name:",S.get_Name())
print("Marks:",S.get_Marks())

Name: Alice
Marks: 95

In [ ]:
class student:

  def set_name(self,name):
    self.__name=name

  def set_mark(self,mark):
    if mark<0:
        print("Marks cannot be negative.")
    else:
        self.__mark=mark

  def get_name(self):
    print(self.__name)

  def get_mark(self):
    print(self.__mark)

a=student()
a.set_name("Vijay")
a.set_mark(76)
a.get_name()
a.get_mark()

Vijay
76

In [ ]:
class BankAccount:
  def __init__(self,Account_number,Balance):
    self.__Account_number=Account_number
    self.__Balance=Balance

  def Deposite(self,Amount):
    if Amount>0:
      self.__Balance+=Amount
      print(f"Deposited Amount {Amount}. New Balance {self.__Balance}")
    else:
      print("Invalid deposit error")

  def get_Balance(self):
    return self.__Balance

Account=BankAccount("12345", 1000)
Account.Deposite(500)

print(Account.get_Balance())

Deposited Amount 500. New Balance 1500
1500

In [ ]:
class BankAccount:
  def __init__(self,Account_number,Balance):
    self.__Account_number=Account_number
    self.__Balance=Balance

  def Deposite(self,Amount):
    if Amount>0:
      self.__Balance+=Amount
      print(f"Deposited Amount {Amount}. New Balance: {self.__Balance}")
    else:
      print("Invalid amount, please enter a proper amount.")

  def Withdraw(self,Amount):
    if Amount<=0:
      print("Enter proper amount.")
    elif Amount>=self.__Balance:
      print("Insufficient Amount")
    else:
      self.__Balance-=Amount
      print(f"Withdrawn Amount {Amount}. New Balance: {self.__Balance}")

  def get_Balance(self):
    return self.__Balance

Account=BankAccount("12345",1000)
Account.Deposite(250)
Account.Withdraw(500)
print("Account Balance:",Account.get_Balance())

Deposited Amount 250. New Balance: 1250
Withdrawn Amount 500. New Balance: 750
Account Balance: 750

#Abstraction

In [ ]:
from abc import ABC, abstractmethod
class Vehicle(ABC): #abstract class

  @abstractmethod
  def start_engine(self):
    pass #abstract method with no implementation


  @abstractmethod
  def stop_engine(self):
    pass #abstract method with no implementation

# An abstract class cannot be instantiated directly
v=Vehicle() # TypeError: Can't instantiate abstract class Vehicle with abstract methods start_engine, stop_engine

TypeError: Can't instantiate abstract class Vehicle without an implementation for abstract methods 'start_engine', 'stop_engine'

In [ ]:
from abc import ABC, abstractmethod
class Vehicle(ABC): #abstract class

  @abstractmethod
  def start_engine(self):
    pass #abstract method with no implementation

  @abstractmethod
  def stop_engine(self):
    pass #abstract method with no implementation

# making child class for abstract class instantiating

class car(Vehicle): # child class of vehicle

  def start_engine(self):  # also we need to create same function (method) in child class  other wise it will shows error!
    print("Car engine started")

  def stop_engine(self):   # also we need to create same function (method) in child class  other wise it will shows error!
    print("Car engine stopped")

car=car()
car.start_engine()
car.stop_engine()

Car engine started
Car engine stopped

 - `If we want to make object from abstract class we can't directly make object from the abstract class.`

 - `So we need to make child class for abstract class object making`
 - `And also need to make same method ( function ) on child class also`

- All child classes **must** impement the abstract methos of the parent abstract class.
- Abstract class can have both **abstract methods and concrete ( regular ) methods**.

In [ ]:
from abc import ABC, abstractmethod
class Shape(ABC):

  @abstractmethod
  def calculate_area(self):
    pass

class circle(Shape):
  def __init__(self,radius):
    self.radius = radius

  def calculate_area(self):
    print(f"circle area is: {3.14 * (self.radius)**2 }")

class Rectangle(Shape):
  def __init__(self,width,height):
     self.width = width
     self.height = height


  def calculate_area(self):
    print(f"Rectangle area is: {self.width * self.height}")

cir=circle(10)
rect=Rectangle(5,10)

cir.calculate_area()
print()
rect.calculate_area()

circle area is: 314.0

Rectangle area is: 50

In [ ]:
from abc import ABC, abstractmethod

class Animal(ABC):
    @abstractmethod
    def make_sound(self):
        pass

class Dog(Animal):
    def make_sound(self):
        print("Bow! Bow!")

class Cat(Animal):
    def make_sound(self):
        print("Meow!")

dog=Dog()
cat=Cat()

dog.make_sound()
cat.make_sound()

Bow! Bow!
Meow!

In [ ]:
from abc import ABC, abstractmethod

class Student(ABC):
  @abstractmethod
  def Study(self):
    pass

class Student1(Student):
  def Study(self):
    print("Aira is Studying")

class Student2(Student):
  def Study(self):
    print("Claire is Studying")

student1=Student1()
student2=Student2()

student1.Study()
student2.Study()

Aira is Studying
Claire is Studying

#Class methods

In [ ]:
class car:
  wheels=4
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  @classmethod
  def change_wheels(cls, new_wheels):
    cls.wheels=new_wheels
    print(f"The number of wheels has been updated to {cls.wheels}.")

car1=car("Toyotta","Etios")

car.change_wheels(6)
print()
print(f"car variable updated to :{car1.wheels}")

The number of wheels has been updated to 6.

car variable updated to :6

# -------------------------------------------------------------------------

#Questions (Practice):

###Create an abstract class Animal with an abstract method make_sound(). Then, implement two subclasses, Dog and Cat, which override the make_sound() method to print the respective animal sounds. Instantiate both classes and call their make_sound() methods.

In [ ]:
from abc import ABC, abstractmethod

class Animal(ABC):
    @abstractmethod
    def make_sound(self):
        pass

class Dog(Animal):
    def make_sound(self):
        print("Bow! Bow!")

class Cat(Animal):
    def make_sound(self):
        print("Meow! Meow!")

dog=Dog()
cat=Cat()

dog.make_sound()
cat.make_sound()

Bow! Bow!
Meow! Meow!

###Create an abstract class Employee with an abstract method calculate_salary(). Implement two subclasses, FullTimeEmployee and PartTimeEmployee, which calculate salaries based on a fixed monthly salary and an hourly rate, respectively. Instantiate both classes and print their salaries.

In [ ]:
class employee:
  @abstractmethod
  def calculate_salary(self):
    pass

class fulltime_employee(employee):
  def __init__(self, salary):
    self.salary=salary

  def calculate_salary(self):
    print(f"salary of full time employee is {self.salary}")

class partime_employee(employee):
  def __init__(self, salary):
    self.salary=salary

  def calculate_salary(self):
    print(f"salary of partime employee is {self.salary/2}")

f=fulltime_employee(10000)
p=partime_employee(10000)

f.calculate_salary()
print()
p.calculate_salary()

salary of full time employee is 10000

salary of partime employee is 5000.0

In [ ]:
e.increase_salary(10)

###Create an abstract class Polygon with an abstract method number_of_sides(). Implement two subclasses, Triangle and Pentagon, which return the respective number of sides. Instantiate both classes and print the number of sides

In [ ]:
from abc import ABC, abstractmethod

class Polygon():
  @abstractmethod
  def number_of_sides(self):
    pass

class Triangle(Polygon):
  def __init__(self,sides):
    self.sides=sides

  def number_of_sides(self):
    print(f"The Triangle has sides: {self.sides}")

class Pentagon(Polygon):
  def __init__(self,sides):
    self.sides=sides

  def number_of_sides(self):
    print(f"The Pentagon has sides: {self.sides}")

t=Triangle(3)
p=Pentagon(5)

t.number_of_sides()
p.number_of_sides()

The Triangle has sides: 3
The Pentagon has sides: 5

###1. Define a Python class Student with the following private attributes:

  __name to store the student's name.
  __marks to store the student's marks.

2. Implement the following public  getter and setter methods to access and modify these attributes securely:

set_name(name)  A method to set the student's name.
get_name()  A method to retrieve the student's name.
set_marks(marks)  A method to set the student's marks (Ensure marks cannot be negative).
get_marks()  A method to retrieve the student's marks.

3. Demonstrate the usage of the class by:

-Create an instance of the Student class.
-Setting the name of the student to "Alice" and print it using the getter method.
-Setting the marks of the student to 95 and print it using the getter method.
-Dont alow negative marks.

In [ ]:
class Student:
  def set_name(self,name):
    self.__name=name

  def set_marks(self,marks):
    if marks<0:
      print("Marks cannot be negative.")
    else:
      self.__marks=marks

  def get_name(self):
    print(self.__name)

  def get_marks(self):
    print(self.__marks)

s=Student()
s.set_name("Vijay")
s.set_marks(78)
s.get_name()
s.get_marks()
print()
s2=Student()
s2.set_name("Alice")
s2.set_marks(95)
s2.get_name()
s2.get_marks()

Vijay
78

Alice
95

In [ ]:
class Student:
    def __init__(self):
        self.__name=""
        self.__marks=0

    def set_name(self,name):
        self.__name=name

    def get_name(self):
       return self.__name

    def set_marks(self,marks):
      if marks<0:
        print("Error: Marks cannot be negative!")
      else:
        self.__marks=marks

    def get_marks(self):
        return self.__marks

student1=Student()

student1.set_name("Alice")
print("Student Name:",student1.get_name())

student1.set_marks(95)
print("Student Marks:",student1.get_marks())

student1.set_marks(-10)
print("Student Marks after invalid input:",student1.get_marks())

Student Name: Alice
Student Marks: 95
Error: Marks cannot be negative!
Student Marks after invalid input: 95

###Step1 : Define a Python class Employee with the following private attribute:

__salary to store the employee's salary.A

Step 2 : Implement the following public methods to securely access and modify the salary:

-set_salary(salary)  A method to set the employee's salary (Ensure the salary is a positive value).
-get_salary()  A method to retrieve the employee's current salary.
-increase_salary(percentage)  A method to increase the salary by a given percentage securely and update the salary value.

Step 3 : Demonstrate the usage of the class by:

-Creating an instance of the Employee class.
-Setting the salary to 50000 and printing it using the getter method.
-Increasing the salary by 10% and printing the updated salary.
-Dont allow negative salary , give warning message

In [ ]:
class Employee:
    def __init__(self):
        self.__salary=0
        self.__name=""

    def set_name(self,name):
        self.__name=name

    def get_name(self):
        return self.__name

    def set_salary(self, salary):
        if salary<0:
            print("Salary cannot be negative!")
        else:
            self.__salary=salary

    def get_salary(self):
        return self.__salary

    def increase_salary(self,percentage):
        if percentage<0:
            print("Percentage cannot be negative")
        else:
            increase_amount=self.__salary*(percentage/100)
            self.__salary+=increase_amount
            print(f"{self.__name}'s updated salary after {percentage}% increase is: {self.__salary}")

e=Employee()
e.set_name("Vijay")
e.set_salary(50000)

print(f"Employee Name: {e.get_name()}")
print(f"Current Salary: {e.get_salary()}")
e.increase_salary(10)

Employee Name: Vijay
Current Salary: 50000
Vijay's updated salary after 10% increase is: 55000.0

# -------------------------------------------------------------------------

#Questions(OOPS):

###Create a class Car with attributes like brand, model, and price. Create multiple objects and display their details.

In [ ]:
class Car:
    def __init__(self,brand,model,price):
        self.brand=brand
        self.model=model
        self.price=price

    def details(self):
        print(f"Brand: {self.brand}, Model: {self.model}, Price: {self.price}")

car1=Car("Toyota","Etios","3.5L")
car2=Car("Honda","City","10L")
car3=Car("Ford","Figo","6L")

car1.details()
car2.details()
car3.details()

Brand: Toyota, Model: Etios, Price: 3.5L
Brand: Honda, Model: City, Price: 10L
Brand: Ford, Model: Figo, Price: 6L

###Write a program to create a Rectangle class that calculates area and perimeter.

In [ ]:
class Rectangle:
  def __init__(self,length,breadth):
    self.length=length
    self.breadth=breadth

  def area(self):
    return (self.length*self.breadth)
  def perimeter(self):
    return 2*(self.length*self.breadth)

r=Rectangle(5,3)
print("Area:",r.area())
print("Perimeter:",r.perimeter())

Area: 15
Perimeter: 30

###Define a class Student with attributes name, roll_number, and marks. Add a method to display student details

In [ ]:
class Student:
  def __init__(self,name,roll_number,marks):
    self.name=name
    self.roll_number=roll_number
    self.marks=marks

  def student_details(self):
    print(f"Student Name: {self.name}")
    print(f"Roll Number: {self.roll_number}")
    print(f"Marks: {self.marks}")

Student1=Student("Vijay",29,95.5)

Student1.student_details()

Student Name: Vijay
Roll Number: 29
Marks: 95.5

###Define a BankAccount class with methods to deposit, withdraw, and check balance

In [ ]:
class BankAccount:
    def __init__(self,owner_name,balance):
        self.owner_name=owner_name
        self.balance=balance

    def deposit(self,amount):
        self.balance+=amount
        print(f"Deposited Amount: {amount}")

    def withdraw(self,amount):
        if amount<=self.balance:
            self.balance-=amount
            print(f"To Withdrew: {amount}")
        else:
            print("Insufficient balance!")

    def check_balance(self):
        print(f"Account Balance: {self.balance}")

BC=BankAccount("Vijay",5000)
BC.deposit(500)
BC.withdraw(300)
BC.check_balance()

Deposited Amount: 500
To Withdrew: 300
Account Balance: 5200

###Create a Book class with attributes like title, author, and price. Add a method to apply a discount on the price.

In [ ]:
class Book:
    def __init__(self,title,author,price):
        self.title=title
        self.author=author
        self.price=price

    def discount(self,discount_percent):
        discount_amount=self.price*(discount_percent/100)
        self.price-=discount_amount

book1=Book("Dies Irea","Vijay Krishnan",500)
book1.discount(10)
print(f"Title: {book1.title}, Author: {book1.author}, Price after discount: {book1.price}/-")

Title: Dies Irea, Author: Vijay Krishnan, Price after discount: 450.0/-

###Write a Circle class with a method to calculate area and circumference.

In [ ]:
class Circle:
  def __init__(self,radius):
    self.radius=radius

  def area(self):
    return 3.14*(self.radius**2)

  def circumference(self):
    return 2*3.14*self.radius

c=Circle(5)
print("Area:",c.area())
print("Circumference:",c.circumference())

Area: 78.5
Circumference: 31.400000000000002

###Define a class Employee with methods to display employee details and calculate annual salary.

In [ ]:
class Employee:
    def __init__(self,name,emp_id,monthly_salary):
        self.name=name
        self.emp_id=emp_id
        self.monthly_salary=monthly_salary

    def display_details(self):
        print(f"Employee Name: {self.name}")
        print(f"Employee ID: {self.emp_id}")
        print(f"Monthly Salary: {self.monthly_salary}")

    def calculate_annual_salary(self):
        print(f"Annual Salary: {self.monthly_salary*12}")

emp1=Employee("Coolie","tt0085361",19000)
emp1.display_details()
emp1.calculate_annual_salary()

Employee Name: Coolie
Employee ID: tt0085361
Monthly Salary: 19000
Annual Salary: 228000

###Create a class Person that includes a greeting method that introduces the person

In [ ]:
class Person:
    def __init__(self,name,age):
        self.name=name
        self.age=age

    def greeting(self):
        print(f"Hi,my name is {self.name} and iam {self.age} years old.")

p1=Person("Aira",15)
p1.greeting()

Hi,my name is Aira and iam 15 years old.

###Create a Movie class with attributes like title, director, and rating. Add a method to display movie details and a method to update the rating.

In [ ]:
class Movie:
    def __init__(self,title,director,rating):
        self.title=title
        self.director=director
        self.rating=rating

    def display_details(self):
        print(f"Title: {self.title}, Director: {self.director}, Rating: {self.rating}")

    def update_rating(self,new_rating):
        self.rating=new_rating

m = Movie("Dies Irae","Rahul Sadasivan",6.5)
m.display_details()
m.update_rating(7.0)
m.display_details()

Title: Dies Irae, Director: Rahul Sadasivan, Rating: 6.5
Title: Dies Irae, Director: Rahul Sadasivan, Rating: 7.0

###Create a Person class with a private age attribute and implement setter and getter methods to safely update and access the age, ensuring it cannot be negative.

In [ ]:
class Person:
    def __init__(self,age=0):
        self.__age=age

    def set_age(self,age):
        if age>=0:
            self.__age=age
        else:
            print("Age cannot be negative")

    def get_age(self):
        return self.__age

p=Person()
p.set_age(21)
print(p.get_age())

21

#Iterator

In [ ]:
mytuple=("apple","Banana","Cherry")   # A tuple of fruits
myit=iter(f)                  # Create an iterator from the tuple
print(next(myit))               # Get first item
print(next(myit))               # Get second item
print(next(myit))               # Get third item

apple
Banana
Cherry

In [ ]:
mystr="banana"        # A string
myit=iter(mystr)      # Create an iterator from the string

print(next(myit))       # 1st character #b
print(next(myit))       # 2nd character #a
print(next(myit))       # 3rd character #n
print(next(myit))       # 4th character #a
print(next(myit))       # 5th character #n
print(next(myit))       # 6th character #a

b
a
n
a
n
a

In [ ]:
mytuple=("apple","banana","cherry")  # A tuple of fruits

for x in mytuple:                        # Loop through each item
    print(x)                              # Print the current item

apple
banana
cherry

In [ ]:
# Define a class that will act as an iterator
class MyNumbers:
    # The __iter__ method is called when iteration starts
    def __iter__(self):
        self.a=1       # Initialize the starting number
        return self      # The object itself is returned as an iterator

    # The __next__ method returns the next value in the sequence
    def __next__(self):
        x=self.a       # Store the current value to return
        self.a+=1      # Increment for the next call
        return x         # Return the current value

# Create an instance of the class
myclass=MyNumbers()

# Create an iterator object from the class instance
myiter=iter(myclass)

# Retrieve and print the next value from the iterator
print(next(myiter))  # Output: 1
print(next(myiter))  # Output: 2
print(next(myiter))  # Output: 3
print(next(myiter))  # Output: 4
print(next(myiter))  # Output: 5

1
2
3
4
5

#Generator

In [ ]:
# This function is a generator function
def greeting():
    # First print statement
    print('Hi!')
    # Yield pauses the function here and returns 1 to the caller
    yield 1

    # Execution resumes here when the generator is called next()
    print("How are you?")
    # Yield pauses again and returns 2
    yield 2

    # Execution resumes here on the next call
    print("Are you there?")
    # Yield pauses and returns 3
    yield 3

In [ ]:
# Define the generator function
def messenger():
    # First pause: print 'Hi!' then yield 1
    print("Hi!")
    yield 1

    # Second pause: print 'How are you?' then yield 2
    print("How are you?")
    yield 2

    # Third pause: print 'Are you there?' then yield 3
    print("Are you there?")
    yield 3

# Create a generator object
messenger=messenger()

# First call to next() will execute until the first yield
result=next(messenger)  # Prints 'Hi!' and returns 1
print(result)             # Output: 1

# Second call to next() will resume from the previous yield
result=next(messenger)  # Prints 'How are you?' and returns 2
print(result)             # Output: 2

# Third call to next() will resume again
result=next(messenger)  # Prints 'Are you there?' and returns 3
print(result)             # Output: 3

Hi!
1
How are you?
2
Are you there?
3

#RegEx in Python

Example: Search the string to see if it starts with "The" and ends with "Spain":

In [ ]:
import re  # Import the 're' module, which provides support for regular expressions in Python

# Define the text to be searched
txt="The rain in Spain"

# Use the re.search() function to look for a pattern in the string
# ^The       means the string must start with "The"
# .*         means any number of any characters (0 or more)
# Spain$     means the string must end with "Spain"
# So the whole pattern "^The.*Spain$" matches any string that starts with "The" and ends with "Spain"
x=re.search("^The.*Spain$", txt)

# Check if a match was found
if x:
  # If x is not None, it means the pattern matched the string
  print("YES! We have a match!")
else:
  # If x is None, no match was found
  print("No match")

YES! We have a match!

###The findall() Function

The findall() function returns a list containing all matches.

Example: Print a list of all matches:

In [ ]:
import re  # Import the 're' (regular expression) module

# Define the text to be searched
txt="The rain in Spain"

# Use re.findall() to find all occurrences of the pattern "ai" in the string
# "ai"  the pattern we are looking for
# re.findall()  returns a list containing all matches of the pattern in the text
x=re.findall("ai", txt)

# Print the list of matches
print(x)

['ai', 'ai']

Example: Return an empty list if no match was found

In [ ]:
import re  # Import the 're' (regular expression) module

# Define the text to search within
txt="The rain in Spain"

# Use re.findall() to search for the word "Portugal" in the text
# "Portugal"  the exact substring pattern to look for
# re.findall() returns a list containing all occurrences of the pattern
# If the pattern is not found, it returns an empty list []
x=re.findall("Portugal", txt)

# Print the result of the search
print(x)

# Check if there was at least one match
if x:  # This condition is True if the list 'x' is not empty
  print("Yes, there is at least one match!")
else:
  print("No match")

[]
No match

###The search() Function

The search() function searches the string for a match, and returns a Match object if there is a match.

If there is more than one match, only the first occurrence of the match will be returned:

Example: Search for the first white-space character in the string:

In [ ]:
import re  # Import the 're' module (used for working with regular expressions)

# Define the text where we want to search
txt="The rain in Spain"

# Use re.search() to look for the first occurrence of a whitespace character
# r"\s"  the 'r' before the string makes it a *raw string*.
#          This tells Python not to treat '\' as a special escape character.
# \s  in regular expressions, it matches any whitespace character
#       (like a space, tab, or newline).
# re.search()  searches through the string and returns a match object for the *first* match found.
x=re.search(r"\s", txt)

# The .start() method returns the position (index) in the string
# where the first whitespace character was found.
# In "The rain in Spain", the first space appears after "The", which is at index 3.
print("The first white-space character is located in position:", x.start())

The first white-space character is located in position: 3

Example: Make a search that returns no match:

In [ ]:
import re  # Import the 're' module (used for working with regular expressions)

# Define the text to search in
txt="The rain in Spain"

# Use re.search() to look for the word "Portugal" in the string
# "Portugal"  the exact substring we want to find
# re.search()  searches the string for the *first occurrence* of the pattern
# If it finds it, it returns a match object; if not, it returns None
x = re.search("Portugal", txt)

# Print the result of the search
print(x)

None

###The split() Function

The split() function returns a list where the string has been split at each match:

Example: Split at each white-space character:

In [ ]:
import re  # Import the 're' module for regular expressions

# Define the string we want to split
txt="The rain in Spain"

# Use re.split() to split the string at every whitespace character
# "\s"  matches any whitespace character (space, tab, newline)
# re.split(pattern, string)  splits the string wherever the pattern matches
x=re.split(r"\s", txt)  # Using r"\s" as a raw string to avoid warnings

# Print the list of words obtained after splitting
print(x)

['The', 'rain', 'in', 'Spain']

Example: Split the string only at the first occurrence:

In [ ]:
import re  # Import the 're' module for regular expressions

# Define the string we want to split
txt="The rain in Spain"

# Use re.split() to split the string at the first whitespace character
# "\s"  matches any whitespace character (space, tab, newline)
# The third parameter '1'  specifies the maximum number of splits (here, only 1 split)
# re.split(pattern, string, maxsplit)  splits the string at the pattern, up to maxsplit times
x=re.split(r"\s", txt, 1)  # Using r"\s" to avoid warnings about escape sequences

# Print the result of the split
print(x)

['The', 'rain in Spain']

###The sub() Function

The sub() function replaces the matches with the text of your choice:

Example: Replace every white-space character with the number 9:

In [ ]:
import re  # Import the 're' module for regular expressions

# Define the string we want to modify
txt="The rain in Spain"

# Use re.sub() to replace all whitespace characters with the digit "9"
# "\s"  matches any whitespace character (space, tab, newline, etc.)
# "9"  the string that will replace each match
# re.sub(pattern, replacement, string)  replaces all occurrences of the pattern in the string
x=re.sub(r"\s", "9", txt)  # Using r"\s" as a raw string to avoid warnings

# Print the modified string
print(x)

The9rain9in9Spain

Example: Replace the first 2 occurrences

In [ ]:
import re  # Import the 're' module for working with regular expressions

# Define the string we want to modify
txt="The rain in Spain"

# Use re.sub() to replace whitespace characters with "9"
# "\s"  matches any whitespace character (space, tab, newline)
# "9"  the replacement string
# The fourth parameter '2'  max number of replacements to perform
# re.sub(pattern, replacement, string, count)  replaces 'count' occurrences of pattern
x=re.sub(r"\s", "9", txt, 2)  # Using r"\s" as a raw string to avoid warnings

# Print the modified string
print(x)

The9rain9in Spain

###Match Object

A Match Object is an object containing information about the search and the result.

Note: If there is no match, the value None will be returned, instead of the Match Object.

Example: Do a search that will return a Match Object

In [ ]:
import re  # Import the 're' module to work with regular expressions

# Define the string where we want to search
txt="The rain in Spain"

# Use re.search() to find the first occurrence of the pattern "ai"
# re.search(pattern, string) scans the string and returns a Match object if found
# If the pattern is not found, it returns None
x=re.search("ai", txt)

# Print the Match object (or None if no match)
print(x)

<re.Match object; span=(5, 7), match='ai'>

Example: Print the position (start- and end-position) of the first match occurrence.

The regular expression looks for any words that starts with an upper case "S":

In [ ]:
import re  # Import the regular expressions module

# Define the string to search
txt="The rain in Spain"

# Use re.search() to find a word starting with uppercase "S"
# r"\bS\w+" 
#   \b   : matches the start of a word
#   S    : matches the uppercase letter "S"
#   \w+  : matches one or more word characters (letters, digits, or underscore)
# re.search() returns a Match object for the first match
x=re.search(r"\bS\w+", txt)

# Print the start and end positions (span) of the match
# x.span() returns a tuple (start_index, end_index)
print(x.span())

(12, 17)

Example: Print the part of the string where there was a match.

The regular expression looks for any words that starts with an upper case "S":

In [ ]:
import re  # Import the regular expressions module

# Define the string to search
txt="The rain in Spain"

# Use re.search() to find the first word starting with uppercase "S"
# r"\bS\w+" 
#   \b   : asserts the start of a word
#   S    : matches uppercase letter "S"
#   \w+  : matches one or more word characters (letters, digits, or underscore)
# re.search() returns a Match object for the first match
x=re.search(r"\bS\w+", txt)

# Print the matched word
# x.group() returns the actual text matched by the regex
print(x.group())

Spain

Example: Print the string passed into the function:

In [ ]:
import re  # Import the regular expressions module

# Define the string to search
txt="The rain in Spain"

# Use re.search() to find the first word starting with uppercase "S"
# r"\bS\w+" 
#   \b   : asserts the start of a word
#   S    : matches uppercase letter "S"
#   \w+  : matches one or more word characters (letters, digits, or underscore)
# re.search() returns a Match object for the first match
x=re.search(r"\bS\w+", txt)

# Print the string where the search was performed
# x.string is a property of the Match object that returns the original string
print(x.string)

The rain in Spain

#Multithreading

Example 1: Basic Thread

In [ ]:
import threading  # Import the threading module to work with threads

# Define a function that will be executed by the thread
def task():
    print("Thread running")  # This message will be printed when the thread runs

# Create a Thread object
# 'target=task' means that the thread will execute the 'task()' function when started
thread=threading.Thread(target=task)

# Start the thread
# This tells Python to begin executing the 'task()' function in a new thread
thread.start()

# Wait for the thread to complete
# 'join()' blocks the main program until the thread finishes running
thread.join()

Thread running

Example 2: Multiple Threads

In [ ]:
import threading  # Import the threading module to create and manage threads

# Define the first task (function) that a thread will execute
def task1():
    print("Task 1")  # This will print when thread t1 runs

# Define the second task (function) that another thread will execute
def task2():
    print("Task 2")  # This will print when thread t2 runs

# Create a Thread object that will run the 'task1' function
t1=threading.Thread(target=task1)

# Create another Thread object that will run the 'task2' function
t2=threading.Thread(target=task2)

# Start the first thread  it begins executing 'task1()' in parallel
t1.start()

# Start the second thread  it begins executing 'task2()' in parallel
t2.start()

# Wait for the first thread to finish before continuing
t1.join()

# Wait for the second thread to finish before continuing
t2.join()

Task 1
Task 2

Printing numbers

In [ ]:
import threading  # Import the threading module to enable multithreading

# Define a function that will be executed by the thread
def print_numbers():
    for i in range(5):           # Loop through numbers 0 to 4
        print(i)                 # Print each number

# Create a Thread object
# The 'target' parameter tells the thread which function to run
thread = threading.Thread(target=print_numbers)

# Start the thread  this begins executing the 'print_numbers()' function
thread.start()

# Wait for the thread to finish before continuing (or exiting the program)
thread.join()

0
1
2
3
4

Python program to download multiple files concurrently using threads

In [ ]:
import threading   # Import the threading module to create and manage threads
import time        # Import time module to simulate delay (like downloading time)

# Define a function that simulates downloading a file
def download_file(file):
    print(f"Downloading {file}...")  # Indicate which file is being downloaded
    time.sleep(2)                    # Simulate a 2-second download time
    print(f"{file} downloaded.")     # Indicate the file has finished downloading

# List of files to "download"
files=["file1.txt", "file2.txt", "file3.txt"]

# Create a list of Thread objects  one thread per file
# Each thread runs the 'download_file' function with a file name as its argument
threads = [threading.Thread(target=download_file, args=(f,)) for f in files]

# Start all threads (downloads start concurrently)
for t in threads:
    t.start()

# Wait for all threads to finish before ending the program
for t in threads:
    t.join()

Downloading file1.txt...
Downloading file2.txt...
Downloading file3.txt...
file1.txt downloaded.
file2.txt downloaded.
file3.txt downloaded.

### Using Threads with Arguments

In [ ]:
import threading  # Import the threading module to create and manage threads

# Define a function that will run in a separate thread
def greet(name):
    print(f"Hello, {name}!")  # Print a greeting message with the given name

# Create a Thread object
# target specifies the function to run, args provides the argument as a tuple
thread=threading.Thread(target=greet, args=("alice",))

# Start the thread  this runs the 'greet' function concurrently
thread.start()

# Wait for the thread to finish before continuing
thread.join()

###Two threading

In [ ]:
import threading
import time

def chef_work():
    for i in range(5):
        print(f"Chef preparing dish {i+1}...")
        time.sleep(2)
        if i == 2:
            print("Chef: Calling assistant to wash utensils")
            time.sleep(1)

            assistant_thread=threading.Thread(target=assistant_work)
            assistant_thread.start()
            assistant_thread.join()
            print("Chef: Assistant done. Resuming dish preparation")
    print("Chef: All dishes are prepared")

def assistant_work():
    for j in range(3):
        print(f"Assistant: Washing utensils {j+1}...")
        time.sleep(2)
    print("Assistant: All utensils are clean")

print("Kitchen: Starting work")

chef_thread=threading.Thread(target=chef_work)
chef_thread.start()
chef_thread.join()

print("Kitchen: All work completed")

Kitchen: Starting work
Chef preparing dish 1...
Chef preparing dish 2...
Chef preparing dish 3...
Chef: Calling assistant to wash utensils
Assistant: Washing utensils 1...
Assistant: Washing utensils 2...
Assistant: Washing utensils 3...
Assistant: All utensils are clean
Chef: Assistant done. Resuming dish preparation
Chef preparing dish 4...
Chef preparing dish 5...
Chef: All dishes are prepared
Kitchen: All work completed

In [ ]:
import threading  # Import the threading module to use threads
import time       # Import time module to simulate delays

# Function representing the chef's work
def chef_work():
    for i in range(5):
        print(f"Chef preparing dish {i+1}...")  # Chef starts preparing a dish
        time.sleep(2)  # Simulate time taken to prepare the dish

        # At the 3rd dish, chef calls the assistant
        if i==2:
            print("Chef: Calling assistant to wash utensils")
            time.sleep(1)  # Small delay before assistant starts

            # Create a new thread for the assistant
            assistant_thread=threading.Thread(target=assistant_work)
            assistant_thread.start()  # Start the assistant thread
            assistant_thread.join()   # Wait for the assistant to finish before continuing

            print("Chef: Assistant done. Resuming dish preparation")

    print("Chef: All dishes are prepared")  # Chef finishes all dishes

# Function representing the assistant's work
def assistant_work():
    for j in range(3):
        print(f"Assistant: Washing utensils {j+1}...")  # Assistant washes a utensil
        time.sleep(2)  # Simulate time taken to wash each utensil
    print("Assistant: All utensils are clean")  # Assistant finishes cleaning

# Main program starts here
print("Kitchen: Starting work")

# Create a thread for the chef
chef_thread=threading.Thread(target=chef_work)
chef_thread.start()  # Start the chef thread
chef_thread.join()   # Wait for the chef (and assistant indirectly) to finish

print("Kitchen: All work completed")  # Everything in the kitchen is done

Kitchen: Starting work
Chef preparing dish 1...
Chef preparing dish 2...
Chef preparing dish 3...
Chef: Calling assistant to wash utensils
Assistant: Washing utensils 1...
Assistant: Washing utensils 2...
Assistant: Washing utensils 3...
Assistant: All utensils are clean
Chef: Assistant done. Resuming dish preparation
Chef preparing dish 4...
Chef preparing dish 5...
Chef: All dishes are prepared
Kitchen: All work completed

##Questions:

###1. Write a Python program using threading to simulate music playback and lyrics downloading:

Music playback runs in one thread for 5 seconds, printing a message each second. During the 3rd second, a separate thread starts to simulate downloading lyrics, which takes 3 seconds. Ensure the music playback waits for the lyrics to finish downloading before continuing.

**Output**

Music Player: Starting music playback.
Music Player: Playing music... 1 seconds
Music Player: Playing music... 2 seconds
Music Player: Playing music... 3 seconds
Music Player: Downloading lyrics in the background.
  Downloading lyrics... 1 seconds
  Downloading lyrics... 2 seconds
  Downloading lyrics... 3 seconds
  Lyrics download completed.
Music Player: Lyrics downloaded.
Music Player: Playing music... 4 seconds
Music Player: Playing music... 5 seconds
Music Player: Playback ended

In [ ]:
import threading
import time

def download_lyrics(event):
    print("Music Player: Downloading lyrics in the background.")
    for i in range(3):
        print(f"Downloading lyrics... {i+1} seconds")
        time.sleep(1)
    print("Lyrics download completed.")
    event.set()

def play_music():
    print("Music Player: Starting music playback.")
    lyrics_event=threading.Event()

    for j in range(5):
        print(f"Music Player: Playing music... {j+1} seconds")

        if j==2:
            lyrics_thread=threading.Thread(target=download_lyrics, args=(lyrics_event,))
            lyrics_thread.start()

        time.sleep(1)

    print("Music Player: Lyrics downloaded.")
    print("Music Player: Playback ended.")

play_music()

Music Player: Starting music playback.
Music Player: Playing music... 1 seconds
Music Player: Playing music... 2 seconds
Music Player: Playing music... 3 seconds
Music Player: Downloading lyrics in the background.
Downloading lyrics... 1 seconds
Music Player: Playing music... 4 seconds
Downloading lyrics... 2 seconds
Music Player: Playing music... 5 seconds
Downloading lyrics... 3 seconds
Music Player: Lyrics downloaded.
Music Player: Playback ended.
Lyrics download completed.

###2. Simulate video streaming where one thread plays frames for 6 seconds.
At the 3rd second, start buffering (2 seconds). Playback pauses until buffering finishes.

**Output**

Playing frame 1
Playing frame 2
Buffering video...
Buffering complete.
Playing frame 3
Playing frame 4
Playing frame 5
Playing frame 6
Video playback finished.

In [ ]:
import threading
import time

def stimulate_video(event):
  print("Video streaming: playing frame in the background")
  for i in range(6):
      if i==2:
        print("Buffering video...")
        time.sleep(2)
        print("Buffering complete. Resuming playback...")
      print(f"Playing frame... {i+1} seconds")
      time.sleep(1)
  print("Video playback finished.")
  event.set()

def video_streaming():
    print("Video streaming started...")
    time.sleep(2)
    video_event=threading.Event()

    video_thread=threading.Thread(target=stimulate_video, args=(video_event,))
    video_thread.start()
    video_event.wait()
    print("Video streaming completed successfully.")

video_streaming()

Video streaming started...
Video streaming: playing frame in the background
Playing frame... 1 seconds
Playing frame... 2 seconds
Buffering video...
Buffering complete. Resuming playback...
Playing frame... 3 seconds
Playing frame... 4 seconds
Playing frame... 5 seconds
Playing frame... 6 seconds
Video playback finished.
Video streaming completed successfully.

###3. One thread downloads 5 chunks (1 per second). After download completes, another thread performs a 3-second virus scan.

**Output**

Downloading chunk 1...
Downloading chunk 2...
Downloading chunk 3...
Downloading chunk 4...
Downloading chunk 5...
Download complete. Starting virus scan...
Scanning file for viruses...
Scanning...
Scan complete. File is safe to use.

In [ ]:
import threading
import time

def download_file(event):
    print("File download started...")
    for i in range(5):
        print(f"Downloading chunk {i+1}...")
        time.sleep(1)
    print("Download complete. Starting virus scan...")
    event.set()

def virus_scan(event):
    event.wait()
    print("Scanning file for viruses...")
    for i in range(3):
        print(f"Scanning... {i+1} seconds")
        time.sleep(1)
    print("Scan complete. File is safe to use.")

    print("Download process initiated...")
    time.sleep(1)

download_event=threading.Event()

download_thread=threading.Thread(target=download_file, args=(download_event,))
scan_thread=threading.Thread(target=virus_scan, args=(download_event,))

download_thread.start()
scan_thread.start()
download_thread.join()
scan_thread.join()

print("All download and scanning operations completed successfully.")

File download started...
Downloading chunk 1...
Downloading chunk 2...
Downloading chunk 3...
Downloading chunk 4...
Downloading chunk 5...
Download complete. Starting virus scan...
Scanning file for viruses...
Scanning... 1 seconds
Scanning... 2 seconds
Scanning... 3 seconds
Scan complete. File is safe to use.
Download process initiated...
All download and scanning operations completed successfully.

###4. One thread cooks rice (5 seconds).
At the 2nd second, another thread cooks curry (4 seconds).
Meal served after both finish.

**Output**

Cooking rice...
Cooking rice...
Starting to cook curry...
Cooking curry...
Cooking rice...
Cooking curry...
Cooking rice done!
Cooking curry done!
Meal ready to serve!

In [ ]:
import threading
import time

def cook_rice(event):
    print("Cooking rice started...")
    for i in range(5):
        if i==1:
            print("Starting to cook curry...")
            curry_thread=threading.Thread(target=cook_curry, args=(event,))
            curry_thread.start()
        print(f"Cooking rice... {i+1} seconds")
        time.sleep(1)
    print("Rice cooking finished.")
    event.set()

def cook_curry(event):
    print("Cooking curry started...")
    for i in range(4):
        print(f"Cooking curry... {i+1} seconds")
        time.sleep(1)
    print("Curry cooking finished.")
    event.set()

    print("Meal preparation started...")
    time.sleep(1)

rice_done=threading.Event()
curry_done=threading.Event()

rice_thread=threading.Thread(target=cook_rice, args=(curry_done,))
rice_thread.start()

rice_thread.join()
curry_done.wait()

print("Both rice and curry are ready.")
print("Meal is served!")

Cooking rice started...
Cooking rice... 1 seconds
Starting to cook curry...
Cooking curry started...
Cooking curry... 1 seconds
Cooking rice... 2 seconds
Cooking curry... 2 seconds
Cooking rice... 3 seconds
Cooking curry... 3 seconds
Cooking rice... 4 seconds
Cooking curry... 4 seconds
Cooking rice... 5 seconds
Curry cooking finished.
Meal preparation started...
Rice cooking finished.
Both rice and curry are ready.
Meal is served!

###5. Game environment loads for 6 seconds.
At 4th second, character setup begins (2 seconds).
Game starts after both finish.

**Output**

Loading environment...
Loading environment...
Loading environment...
Setting up player character...
Setting up player character...
Setup complete.
Loading environment...
Loading complete!
Game ready to start!

In [ ]:
import threading
import time

def load_game(event):
    print("Game environment loading started...")
    for i in range(6):
        if i==3:
            print("Starting character setup...")
            setup_thread=threading.Thread(target=character_setup, args=(event,))
            setup_thread.start()
        print(f"Loading environment... {i+1} seconds")
        time.sleep(1)
    print("Environment loading complete.")
    event.set()

def character_setup(event):
    print("Character setup started...")
    for i in range(2):
        print(f"Setting up character... {i+1} seconds")
        time.sleep(1)
    print("Character setup complete.")
    event.set()

print("Game initialization started...")
time.sleep(1)

setup_done=threading.Event()

loading_thread=threading.Thread(target=load_game, args=(setup_done,))
loading_thread.start()

loading_thread.join()
setup_done.wait()

print("All game assets ready.")
print("Game is ready to start!")

Game initialization started...
Game environment loading started...
Loading environment... 1 seconds
Loading environment... 2 seconds
Loading environment... 3 seconds
Starting character setup...
Character setup started...
Setting up character... 1 seconds
Loading environment... 4 seconds
Setting up character... 2 seconds
Loading environment... 5 seconds
Character setup complete.
Loading environment... 6 seconds
Environment loading complete.
All game assets ready.
Game is ready to start!

#File Handling

###**Using "Open and Close"**

Creating a new file in 'x' mode

In [ ]:
file=open("newfile2.txt","x")
file.write("this file is created using 'x' mode.\n")
file.close()
print("File created successfully")

File created successfully

Reading the file

In [ ]:
file=open("newfile2.txt", "r")
content=file.read()
print(content)
file.close()

this file is created using 'x' mode.

Overwriting to a File

In [ ]:
file=open("newfile2.txt", "w")

file.write("Hello, World!\n")
file.write("Python File Handling\n")

file.close()

Again Reading the file

In [ ]:
file=open("newfile2.txt", "r")
content=file.read()
print(content)
file.close()

Hello, World!
Python File Handling

Appending a new Line

In [ ]:
file = open("newfile2.txt", "a")
file.write("This line is appended.\n")

file.close()

Again Reading the file

In [ ]:
file=open("newfile2.txt", "r")
content=file.read()
print(content)
file.close()

Hello, World!
Python File Handling
This line is appended.

###**Without Open and Close**

Using "with" Statement (Recommended)

The "with" statement automatically closes the file, even if errors occur:

Example:

File is created. using "with" statement

In [ ]:
with open("newfile6.txt","x") as file:
  file.write("Created safely with 'x' mode.\n")
  print("Studying")

Studying

File is read using "with" statement

In [ ]:
with open("newfile6.txt","r") as file:
  content=file.read()
  print("File content:\n", content)

File content:
 Created safely with 'x' mode.

Overwriting the file using "with" statement

In [ ]:
with open("newfile6.txt","w") as file:
  file.write("Play,sleep,eat,repeat.\n")

Again the file is being read using "with" statement

In [ ]:
with open("newfile6.txt", "r") as file:
  content=file.read()
  print(content)

Created safely with 'x' mode.

Appending new line using "with" statement

In [ ]:
with open("newfile6.txt","a") as file:
  file.write("Sleep,eat,sleep,repeat.\n")

And then Reading the file using "with" statement

In [ ]:
with open("newfile6.txt","r") as file:
  content=file.read()
  print(content)

Created safely with 'x' mode.
Sleep,eat,sleep,repeat.

#Exception Handling

### Exception handling is a programming concept used to manage error or unexpected conditions that occure during the exicution of a programme .it alles the programe to continue running of failgracefully instead of crashing .

# Use Exception Handling?
 - To prevent the entire program from crashing due to runtime errors.

 - To provide informative error messages.

 - To allow recovery or alternative execution paths.
#common terms

 - Exception: An error that occurs during program execution.

 - Try block: Code that might throw an exception.

 - Except block: Code that runs if an exception occurs.

 - Finally block: Code that always runs, whether an exception occurred or not.

 - Raise: Manually trigger an exception.

# **What are Errors?**
 - Errors are issues in the code that prevent it from executing successfully.


 **Types of Errors**
  - 1. Synatx Errors
  - 2. Runtime Erros
  - 3. Logical Errors

  **1. Syntax Errors**
   - Occur when the code vilates python's syntax rules.
   - Detetcted before execution.
   - Example: Missing colons, unmatched parentheses.

    _   missing a colon at the end of the if statement
    
    if 5>3
    print("this willl cause a syntax error")

    Error Message :
     Syntax Error: invalid syntax


  **The python interpreter cannot undersstand the code because of incorrect syntax, such as missing colons, unmatched parentheses. or msissplled keywords.**

In [ ]:
if 5>3
  print("tis will cause a syntax error")

SyntaxError: expected ':' (ipython-input-1025333816.py, line 1)

**2. Runtime Errors**

 - Occur during program execution
 - Example: Division by zero , accessing undefined variable




 Example Code
 Division by zero :


 x=1=/0
 print(x)


 Error Message :
 zero Division Error : division by zero


 **The program syntax is correct, but the operation fails at runtime(eg, dividing by zero, accessing an undefined variable , or file not found).**

In [ ]:
x=1/0
print(x)

ZeroDivisionError: division by zero

**3. Logical Errors**
 - The program runs but gives incorrect results due to logic flaws,
 - Example: incorrect formula or condition.



 incorrect formula for calculating the area of a rectangle

length =5

width= 10

area = length +width # should be length * width

print("Area;",area)

ouput:
Area :15






**The program runs successsfully but, the result is wrong because of a mustake in the logic of formula**

In [ ]:
try:
  num=int(input("Enter the number:"))
  result=10/num
except ZeroDivisionError:
  print("Cannot divide by zero!")
except ValueError:
  print("Please enter a valid number!")
else:
  print("Division successfull! Result:", result)
finally:
  print("this block always runs")

Enter the number:10
Division successfull! Result: 1.0
this block always runs

In [ ]:
# incorrect formula for calculating the area of a rectangle
length =5

width= 10

area = length + width # should be length * width

print("Area:",area)

Area: 15

# What are Execptions?

Exeptions are runtime errros that occur during program execution, disrupting the normal flow of a program

**Common Built-in Exceptions:**
 - ZeroDivisionErrors
 - ValueError
 - KeyError
 - FileNotFoundError
 - indexError

**Why Handle Exceptions?**
 - To control the program's behavior in error scenarios.
 - To provide meaningful error messages to users.

## The Try-Except Block

**Basis Structrue:**

(try:
  code that might raise an exception

  except Esception Type:
    code to handle the exception)


Example code:

try:

x= int (input("Eneter a number:"))
y=10/x

exceptzeroDivisionError:

print("Cannot divide by zero")

In [ ]:
try:
  x=int(input("Enter the number: "))
  y=10/x
  print(y)
except ZeroDivisionError:
  print("Cannot divide bt zero")

Enter the number: 0
Cannot divide bt zero

In [ ]:
try:
  x=int(input("Enter the number: "))
  y=10/x
except ZeroDivisionError as e:
  print(e)

Enter the number: 0
division by zero

In [ ]:
try:
  print(a) # The a is not defined and it will show error
except:
  print("Error occured") # but there is exept keyword so that's why error not showing

Error occured

`If except we do, The error will not show thats the use of the try-exept block`

In [ ]:
print(a)
print("Hello world")

NameError: name 'a' is not defined

In [ ]:
try:
  print(a)
except:
  print("Error occured")
print("Hello world!")

Error occured
Hello world!

`If except we do, The error will not show thats the use of the try-exept block`
`And it will not stop the code it just skip the error`

## Else and Finally Blocks

### Else Block :

      Runs only if no esceptions occur.


Example Code :

    try:
      result =10/2
    except ZeroDivisionError:
      print("Error")
    else:
      print("Result:", result)

In [ ]:
try:
  result=10/2
except ZeroDivisionError as e:
  print("Error")
else:
  print("Error:", result)

Error: 5.0

### Finally Block:

 - Always runs, regardlesss of whether an exception occurred
 - Useful for cleanup (ef, closing files)


 Example Code:

        try:
          file_=open("data.txt","r")
        escept FileNotFoundError:
          print("File not found!")
        finally:
          print("End of program.")

In [ ]:
try:
  file_=open("vijay.txt","r")
except FileNotFoundError:
  print("File not found!")
finally:
  print("End of program")

File not found!
End of program

In [ ]:
import math
print(math.exp(1000)) # its OverflowError

OverflowError: math range error

In [ ]:
import math
print(math.exp(709))

8.218407461554972e+307

In [ ]:
obj=42
obj.append(5) # Attruibute Error

AttributeError: 'int' object has no attribute 'append'

In [ ]:
obj=42
obj.append(5)

AttributeError: 'int' object has no attribute 'append'

In [ ]:
data={"name":"john"}
print(data["age"])  # key Error

KeyError: 'age'

In [ ]:
data={"name":"john"}
print(data["name"])

john

In [ ]:
my_list=[1,2,3]
print(my_list[5]) # IndexError

IndexError: list index out of range

In [ ]:
my_list=[1,2,3]
print(my_list[1])

2

In [ ]:
print(int("Hello"))  # Value Error

TypeError: 'list' object is not callable

In [ ]:
my_list=[1,2,3]
my_list.remove(5)

ValueError: list.remove(x): x not in list

In [ ]:
my_list=[1,2,3]
my_list.remove(2)
print(my_list)

[1, 3]

In [ ]:
print("5"+5) #Type Error

TypeError: can only concatenate str (not "int") to str

In [ ]:
print(5+5)

10

In [ ]:
open("nonexistnt_file,.txt")  # FileNotFoundError

FileNotFoundError: [Errno 2] No such file or directory: 'nonexistnt_file,.txt'

In [ ]:
try:
  open("nonexistnt_file.txt")
except FileNotFoundError as e:
  print(e)

[Errno 2] No such file or directory: 'nonexistnt_file.txt'

##Raise Exception

The raise statement in python is used to manually trigger an exception when a specific error condition occurs.

In [ ]:
# Ask the user to enter their age and convert the input to an integer
# Note: If the user types something that is not a number (e.g., "abc"),
# Python will immediately raise a ValueError before reaching the next lines.
age = int(input("Enter your age: "))

# Check if the entered age is negative
if age < 0:
    # If the number is negative, we raise a ValueError ourselves.
    # This stops the program immediately and shows the custom error message.
    raise ValueError("Age cannot be negative")
else:
    # If the age is valid (0 or positive), this line prints it.
    print(f"Your age is {age}")

# This line will only run if no ValueError occurred above.
# If an error happens (either from invalid input or from our 'raise'),
# this line will NOT execute.
print("No try except")

Enter your age: -1

ValueError: Age cannot be negative

In [ ]:
try:
    # Ask the user to enter their age and convert it to an integer
    # If the user types something that is not a number (e.g., "abc"),
    # Python automatically raises a ValueError here.
    age = int(input("Enter your age: "))

    # Check if the entered age is negative
    if age < 0:
        # Manually raise a ValueError with a custom message
        # if the user enters a negative number.
        raise ValueError("Age cannot be negative")
    else:
        # If no error occurs and the age is valid, print it
        print(f"Your age is {age}")

# The 'except' block runs only if a ValueError happens in the try block.
# The variable 'e' stores the error message (either from int() or from our raise statement).
except ValueError as e:
    # Print the error message instead of crashing the program
    print(e)

# This line runs no matter what  even if an error happened.
# It shows that the program continues after handling the error.
print("try except finished")

Enter your age: -1
Age cannot be negative
try except finished

## Custom Exceptions




Custom exceptions are user- defined exceptions in Python that help handle domain-specific errors more meaningully and improve code clarity.

**Example Code :**

    class CustomError(Exception)"
        pass
    raise CustomError("This is a custom error")

In [ ]:
# Define a custom exception class
# 'InvalidAgeException' inherits from Python's built-in 'Exception' class.
# This allows us to create our own specific type of error.
class InvalidAgeException(Exception):
    "Raised when the input value is less than 18"
    pass  # 'pass' means no extra code inside the class  it just defines the exception type.

# The number we are comparing to (minimum age required to vote)
number = 18

try:
    # Ask the user to enter a number and convert it to an integer.
    input_num = int(input("Enter a number: "))

    # Check if the entered number (age) is less than 18.
    if input_num < number:
        # If condition is true, manually raise our custom exception.
        raise InvalidAgeException
    else:
        # If age is 18 or older, print eligibility message.
        print("Eligible to vote")

# This block runs if an InvalidAgeException is raised above.
except InvalidAgeException:
    # Handle the error gracefully instead of crashing the program.
    print("Exception Occurred: Invalid age")

Enter a number: 17
Exception Occurred: Invalid age

#Questions:

##1. Division by Zero

Goal: Handle a division-by-zero error.
Task:
Write a function safe_divide(a, b) that:

* Uses tryexcept to catch ZeroDivisionError

* Prints "Cannot divide by zero." if it occurs

* Otherwise, prints the result using the else block

* Prints "Operation complete." in a finally block

In [ ]:
def safe_divide(a,b):
    try:
        result=a/b
    except ZeroDivisionError:
        print("Cannot divide by zero.")
    else:
        print("Result:", result)
    finally:
        print("Operation complete.")
x=int(input("Enter the numerator: "))
y=int(input("Enter the denominator: "))
safe_divide(x,y)

Enter the numerator: 1
Enter the denominator: 2
Result: 0.5
Operation complete.

##2. Integer Input Validation

Goal: Validate user input.
Task:
* Ask the user to enter an integer:

* If the input is not an integer, handle ValueError

* Use else to print the number if conversion succeeds

* Use finally to print "End of program."

In [ ]:
try:
    user_input=input("Enter an integer: ")
    number=int(user_input)
except ValueError:
    print("Invalid input! That's not an integer.")
else:
    print("You entered the integer:", number)
finally:
    print("End of program.")

Enter an integer: 0.3
Invalid input! That's not an integer.
End of program.

##3. File Handling Error

Goal: Handle missing files.
Task:
* Write a function that tries to open a file for reading.
* If the file does not exist, catch the FileNotFoundError and print "File not found!".
* Always close the file (or print "Closing file" in finally) even if an error occurs.

In [ ]:
def read_file(filename):
    file=None
    try:
        file=open(filename, 'r')
        content=file.read()
        print("File content:\n", content)
    except FileNotFoundError:
        print("File not found!")
    finally:
        if file:
            file.close()
            print("Closing file.")

filename=input("Enter the filename to read: ")
read_file(filename)

Enter the filename to read: new
File not found!

##4. Write a Python program to create a file data.txt

In [ ]:
file=open("data.txt","x")
file.write("this file is created using 'x' mode.\n")
file.close()
print("File created successfully")

File created successfully

##5. Write a Python program to open a file called data.txt and print its contents.

In [ ]:
file=open("data.txt","r")
content=file.read()
print(content)
file.close()

this file is created using 'x' mode.

##6. Write a Python program to create a file called notes.txt and write "Hello, Python File Handling!" into it.

In [ ]:
file=open("data.txt", "w")
file.write("Hello, Python File Handling!")
file.close()
print("File 'data.txt' created and text written successfully.")

File 'data.txt' created and text written successfully.

##7. Write a program to open a file log.txt in append mode and add the line "New log entry".

In [ ]:
file=open("data.txt", "a")
file.write("New log entry\n")
file.close()
print("New log entry added to data.txt")

New log entry added to data.txt

##8. Write a program that tries to open a file called myfile.txt.
If it doesnt exist, print "File not found!".

In [ ]:
try:
    file = open("myfile.txt", "r")
    print("File opened successfully!")
    file.close()
except FileNotFoundError:
    print("File not found!")

File not found!

##9. Using try, except, else
Write a program that:

* Tries to open a file info.txt

* If successful, prints File opened successfully.

* If not, prints Error opening file.

* Uses else to print the files contents only if it was opened successfully.

In [ ]:
try:
    file=open("info.txt", "r")
except FileNotFoundError:
    print("Error opening file.")
else:
    print("File opened successfully.")
    content=file.read()
    print("File contents:\n")
    print(content)
    file.close()

Error opening file.

##10. Write a program that opens a file and reads data, but always prints Program finished  even if an error occurs.

In [ ]:
try:
    file=open("data.txt", "r")
    content=file.read()
    print("File contents:\n", content)
    file.close()
except FileNotFoundError:
    print("Error: File not found!")
finally:
    print("Program finished.")

Error: File not found!
Program finished.